[2019-10-02 21:52] edgrosvenor commented on #306
@bardh7 You're welcome. Hit me up if you run into any snags. I'm happy to help.

[2019-10-02 23:01] calebporzio commented on #285
Thanks for the issue! I believe this is fixed in the latest release: v0.3.12

[2019-10-02 23:01] #285 closed

[2019-10-03 02:55] billriess commented on #305
I'm actually getting this same issue without prefixed routes.

[2019-10-03 03:29] calebporzio commented on #302
This has to do with the way the dom-differ inside Livewire behaves (morphdom).

The error is being caused because a `<div>` is being added to the tree in the same place as a `<div>` in the old tree. Morphdom decides to update the div and append the new one after it, instead of being smart enough to recognize that, though they are both divs, the very next div in the new tree is an exact match to th

[2019-10-03 03:29] #302 closed

[2019-10-03 03:46] rydurham commented on #285
Confirmed!  Thank you!

[2019-10-03 07:37] erikscheepers commented on #188
Issue has been fixed in version [v0.3.9](https://github.com/livewire/livewire/releases/tag/v0.3.9)
Thanks, great solution!

[2019-10-03 07:37] #188 closed

[2019-10-03 08:05] erikscheepers opened #311 "wire:offline not displaying when polling nested components"
**Describe the bug**
Displaying the offline message does not work when you are polling nested components

**To Reproduce**
Steps to reproduce the behavior (simplified, but working example):
[code]
[code]
[code]
If you go offline the wire:offline component does not show.
If you don't poll (but keep the nested components) everything is working as expected. Also when you do not nest another component

[2019-10-03 12:54] jacobsmith commented on #305
@billriess I'd suggest you double check what middleware are being added to that route. Livewire will re-use whatever middleware were present on the initial page load, so if there's an authentication/authorization middleware that's present, it may be expecting a header that Livewire isn't adding (or something like that). Putting breakpoints in our middleware is what finally got me to understand how

[2019-10-03 12:57] jacobsmith commented on #307
@calebporzio Yes, thank you. I'm not used to working in a language where entire objects and dependencies can be stored in a cache between requests. I come from a Rails background and basically everything has to go through a `serialize -> cache -> next request -> deserialize previous data and instantiate new object (and dependencies)` process. I'm going to close this issue for now since I think it

[2019-10-03 12:57] #307 closed

[2019-10-03 15:14] billriess commented on #305
@jacobsmith thanks! I will look into that.

I think you raised some good concerns though. We're using Vapor and have different environments. I have not deployed anything with Livewire just yet because we just started integrating it but I wonder if it will respect how Vapor handles assets.

I did publish the Livewire config and set `'asset_url'  => config('app.asset_url', null),` so, in theory, it

[2019-10-03 15:52] calebporzio commented on #162
Solid! I changed livewire to not mimic middleware, default to `"web"`, and added a config option for the middleware group called: `config('livewire.middleware_group')`.

Also, I added documentation describing your solution:
https://laravel-livewire.com/docs/authorization/

Great work on this! Thanks a bunch all the great help!

[2019-10-03 15:52] #162 closed

[2019-10-03 15:57] calebporzio commented on #273
Updated the docs - thanks!

[2019-10-03 15:57] #273 closed

[2019-10-03 16:02] calebporzio commented on #305
Ok, I removed the "middleware mimicking" behavior in the latest release: v0.3.14

It now just uses "web" by default and allows you to configure this if you so choose.

This should remove a lot of these problems? If so, please close this issue. Thanks!

[2019-10-03 16:05] calebporzio commented on #311
Can you show the "@livewire('offline')" component? I'm a bit confused.

[2019-10-03 16:07] jacobsmith commented on #305
I'll check on our application this afternoon. Thanks @calebporzio !

[2019-10-03 16:09] calebporzio commented on #310
Yes, thanks @ducopro - does that solve your problem? If not, re-open.

[2019-10-03 16:09] #310 closed

[2019-10-03 16:20] billriess commented on #305
Hmm, I just updated to v0.3.14 and published the assets but I am still having the same issue. @calebporzio do you think this could be related to custom `livewire.view_path`?

`/livewire/message/crm.tabs.general` is throwing 404

[2019-10-03 16:38] calebporzio commented on #304
@evergreenwebsystems - before I look into this, the "id" property of a component is restricted for internal use. Does this problem still exist if you use a different property other than `$this->id`?

[2019-10-03 19:19] jacobsmith commented on #305
I took a look at our setup and realized that I've already manually mounted the livewire route because of some routing rules we have (route prefix) so I don't think I'm going to be able to help test this change. With that, though, I will close the issue because the issue was not with Livewire, but with our own app's routing and authorization rules.

[2019-10-03 19:19] #305 closed

[2019-10-03 19:34] jacobsmith opened #312 "Document ability to have a listeners function on component instances"
**Is your feature request related to a problem? Please describe.**
I have multiple livewire components on the same page. It is a page with tabs, and each tabs shows a different interactive table for users to view historical data in their account. In an effort to keep the table component as stand-alone as possible, controls for the table are separate livewire components (some controls don't apply t

[2019-10-03 19:47] erikscheepers commented on #311
Something like this:
[code]

[2019-10-03 20:32] evergreenwebsystems commented on #304
In actual fact it was not the ‘id’ property which was the problem but a property called ‘view’ which I was using inside the component. I guess that is restricted too, by Livewire or Laravel?

[2019-10-03 20:45] evergreenwebsystems commented on #243
It definitely is not working for me. I have updated Livewire to 0.3.14 and using the basic counter example I simply add:

[code]

I don't understand why this won't work? It used to work in previous versions of Livewire. @calebporzio  are you able to tell me why this wont work and what I should do instead if I want to use this method?

[2019-10-03 21:31] calebporzio commented on #95
If you change `wire:click` to `wire:mousedown`, the problem is now fixed in v0.3.15

[2019-10-03 21:31] #95 closed

[2019-10-03 21:32] calebporzio commented on #95
I'm open to a solution that accounts for people using wire:click still, just can't think of anything simple off the top of my head.

[2019-10-03 21:38] calebporzio commented on #243
It's currently working for me locally. Here is the bit of code that makes this possible:

https://github.com/livewire/livewire/blob/3e91c0fcd41c7bee85be44563376b44033b92d70/src/LivewireServiceProvider.php#L49

The problem has something to do with that not working properly.

For some reason, the override isn't being applied.

Maybe there is a package that presents a conflict or something.

If someo

[2019-10-03 21:41] calebporzio commented on #304
Hmm, that's really odd. I don't see a "view" property set by Livewire on the component anywhere. Any other ideas? Maybe post the full component code in simple terms, that I can just copy and paste to re-create?

[2019-10-03 21:47] calebporzio commented on #311
The problem is that your "key()" in the "counter" component loop is too dynamic. Every time the component is polling, it is changing all the keys because of `microtime()`. Remove the microtime call, and everything will work properly.

[2019-10-03 21:47] #311 closed

[2019-10-03 22:49] billriess commented on #305
I just wanted to add that my issue was due to cached routes... I feel dumb. :(

[2019-10-04 08:10] erikscheepers commented on #311
I used previous "workaround" to get the nested components updated. What is the best method to update nested components (and keep the wire:offline working)? Tried several things, but without success (for now).
[code]
[code]
[code]
[code]

[2019-10-04 12:50] ducopro opened #313 "Easy access to all form-data after form submit"
Right now we can easily create interactive forms by using `wire:model` on a variety of input elements. Even nested properties are now supported so we can put all the interactive form-data elements in an array if we want. So far so good.

No problem at all if we are creating LiveWire components that are specifically made for hard coded forms.

But what if some of the input elements in the form do n

[2019-10-04 13:34] morpheus7CS commented on #296
Hey all,

I have this to confirm the issue exists. But I propose raising the minimum Laravel version to `"^5.8"`. Here are my reasons why:

1) In order for Livewire to work with Laravel 5.7., it needs `"nesbot/carbon": "^2.0"`.
If you indeed run the proposed command `./vendor/bin/upgrade-carbon`, it however, wants to upgrade both the `"nesbot/carbon": "^2.0"` and `"laravel/framework": "^5.8"`.

I'

[2019-10-04 13:41] calebporzio commented on #313
I totally agree. This would be very helpful. I'll spit out some API ideas:

Ok, here's a way you could actually do this right now:
[code]

Then, in your component, here's the submit method:
[code]

After typing in "baz" and "bob" into the inputs and submitting, this will output:
![image](https://user-images.githubusercontent.com/3670578/66211446-1ee96b80-e68a-11e9-879b-b3cc26bed50c.png)

This will

[2019-10-04 13:50] calebporzio opened #315 "Hacktoberfest: Support Laravel 5.7 (or maybe even earlier)"
Hey Hacktoberfesters! Here's is an isolated scope issue that shouldn't be too difficult to resolve.

Currently, Livewire doesn't work on any Laravel version below 5.8 (#296).

We could easily set the minimum version constraint to 5.8 (#314).

HOWEVER, I don't think there is any legitimate reason Livewire couldn't support earlier versions of Laravel. I believe the reason it currently doesn't is bec

[2019-10-04 14:00] calebporzio commented on #311
I'm sorry, I'm confused, can you expound on the problem? And maybe provide a more isolated example? Thanks!

[2019-10-04 14:19] azurinspire opened #316 "JS error with wire:model in select"
**Describe the bug**
I'm getting following error when using wire:model with select:
`TypeError: Element.setAttribute requires at least 2 arguments, but only 1 were passed`

Error comes from `specialElHandlers.js` file in where the second attribute of `setAttribute` was dropped in this commit: https://github.com/livewire/livewire/commit/38caadbfdb128252a1251354a4c0e15d0935bf55#diff-3e6ee14443ed0559

[2019-10-04 15:27] azurinspire commented on #316
Actually the error comes if translation is used as option text and for some reason locales are not in sync on client and server.

![image](https://user-images.githubusercontent.com/40248184/66219720-f5e9ca80-e6cb-11e9-8129-8695a0254450.png)

![image](https://user-images.githubusercontent.com/40248184/66219735-fbdfab80-e6cb-11e9-86e6-b99461115c74.png)

![image](https://user-images.githubusercontent

[2019-10-04 15:41] azurinspire commented on #316
But actually this error happens always if option labels are dynamic for some reason. Don't know if there are really use cases when that would be needed...

Minimal example to reproduce:

[code]

[code]

[2019-10-04 15:59] azurinspire commented on #316
This could be quite normal use case which is causing same error:
[code]

[code]

[2019-10-04 17:08] ducopro commented on #313
Nice to see we're following the same line of thinking:-) I was initially also thinking about options A and B. But to me they both felt a little bit *hacky*

Before you know it there are *magic* variables everywhere. It doesn't feel *clean*. And listening to your podcasts, i think you feel the same. It is not intuitive. You need to check the docs.

I commented yesterday or the day before on an issu

[2019-10-05 17:10] bdweix commented on #313
I would love a feature like this. For me I care less about binding individual inputs, and more about easily binding our entire forms. Once the user submits the form then all of the inputs are passed to the controller. Would be very interesting to see what a Livewire form model could open up for validation/loading states as well.

[2019-10-05 20:04] evergreenwebsystems commented on #304
So, this does not work.

[code]

[code]

Where as this, with 'view' changed to 'template', does work:

[code]

[code]

[2019-10-05 20:45] evergreenwebsystems commented on #243
So I created a clean install of Laravel 6.0.4 and added only Livewire, no other packages. As per my earlier example I use the counter example and simply added:

[code]

Again, I get the exact same error response.

[2019-10-06 18:53] roni-estein opened #319 "Errorbag removed after each field updated on a for,"
When using a livewire component to represent a form, after a form submission with validation errors, everything works as expected, however once you trigger any update, by changing any of the invalidated fields, the errorbag is removed, even though the form hasn't been re-submitted.

**To Reproduce**
1. Have a component with two elements. In my case I'm not even using a form though I would if there

[2019-10-06 19:35] roni-estein commented on #319
This is a lame fix, but I needed to get this project dealt with this weekend, so my workaround until there is a better solution is to add a `protected $hasBeenSubmitted = false;``

In my submit function I added
`$this->hasBeenSubmitted = true``

Then I added an updated function that checks it.

[code]

That triggers an update which gives me bag an updated error bag.

[2019-10-07 06:06] erikscheepers commented on #311
Alerts are being updated by another application and their current status are being displayed using Livewire. I want to get them trom the database by one query and foreach them in the template. The hydrate retrieves the current alerts, but in the template the alerts seem te be cached because no updates are visible. Only dynamic keys show me the actual status of the alerts.

[2019-10-07 11:34] slava-vishnyakov opened #320 "Run a JavaScript from method"
**Is your feature request related to a problem? Please describe.**
Basically, let's say I want to `alert('Incremented')` when user clicks "+" in Counter component.

**Describe alternatives you've considered**
I assumed having something like `@if($incremented) <script>alert('Incremented'); </script> @endif` in Blade template would work (assuming I set $incremented myself), but it is run only once,

[2019-10-07 13:59] davidpiesse commented on #320
Hi @slava-vishnyakov  Would you not want to put your JS logic as simple JS in the template?
This could be done with a script tag at the bottom of your blade file, with a function that is called on the onClick event.
It would seen fruitless to have JS sending back a request to PHP, for the PHP to then return JS.

Is there a use case why you would want to do that?

[2019-10-07 14:04] davidpiesse commented on #301
It may be that the ```name``` property is restricted, like ```id``` is...

[2019-10-07 14:08] slava-vishnyakov commented on #320
@davidpiesse Yes, the logic surely goes into Blade, no arguing with that.
The problem is that sometimes you want to call a specific JS function as a result of server-side call.

For example, let's say I want to post a comment to a site and it contains profanity. The site has a server-side logic to check if profanity is present. If it is present - I want to show a SweetAlert error popup, something

[2019-10-07 14:45] slava-vishnyakov opened #321 "Option to store protected properties in browser"
**Is your feature request related to a problem? Please describe.**
Currently the protected properties are stored in cache. If you have a reasonably popular site - your cache will explode with dozens of new cache items per each page visited by a robot or a human.

The bots can often be like 99% of visits to the site and they won't click any button. Therefore any state that I keep for them is useles

[2019-10-07 15:41] mksav commented on #320
@slava-vishnyakov You can emit an event on the PHP side `$this->emit('sweet-alert', "You can't post that!");` and then listen for it in your javascript:
`<script>
window.livewire.on('sweet-alert', message => {
    alert(message);
    // or whatever alerting library you'd like to use
})
</script>`

[2019-10-07 15:55] calebporzio commented on #320
What @mksav said. I hope to have a bit of a better way to do this soon.

[2019-10-07 16:03] slava-vishnyakov commented on #320
@mksav @calebporzio Thank you! 👍

I think that should be added to https://laravel-livewire.com/docs/inline-scripts/ , something like:

"Please note that your scripts will be run only once upon first render of the component. If you need to run a JavaScript function later - emit the event from the component and listen to for in JavaScript as described here(https://laravel-livewire.com/docs/events/)"

[2019-10-07 16:26] calebporzio commented on #320
Good call @slava-vishnyakov - is that something you'd be willing to PR to the docs? github.com/livewire/livewire-docs

[2019-10-07 16:39] slava-vishnyakov commented on #320
@calebporzio Sure! Thanks!

[2019-10-07 16:39] #320 closed

[2019-10-07 18:04] #315 closed

[2019-10-07 18:23] calebporzio commented on #320
@slava-vishnyakov - I went ahead and added a new feature to Livewire that should make this a little easier:

[code]

You can read more about it here: https://laravel-livewire.com/docs/inline-scripts/ (towards the bottom of the page)

Would still love that PR though!

[2019-10-07 18:28] slava-vishnyakov commented on #320
@calebporzio
Awesome! Though, the PR is already there :) https://github.com/livewire/docs/pull/49

[2019-10-07 19:29] wsamoht commented on #319
Same issue here.

I wonder if the error bag should be added to the response so they can be hydrated back on future updates. @calebporzio thoughts on this? Is there a better way to handle this as it stands right now?

[2019-10-07 22:06] calebporzio commented on #321
Hey @slava-vishnyakov, yes, that makes sense.

I think most Livewire usage is in a non-public, app context. Therefore, I believe caching is a good default. Also, when Livewire is used on public facing stuff prone to bot usage, I imagine people using protected properties less, but I know I could be wrong AND there are exceptions.

Anyhow, I agree, it would be nice to offer the option to use the AJA

[2019-10-07 22:10] calebporzio commented on #319
Yeah, this is one of those things we definitely need to get straight (high priority).

We need to nail down exactly how Livewire should behave first.

@roni-estein & @wsamoht, how do you think Livewire should behave by default?

Do we agree that Livewire should preserve the error bag between property updates, but clear it after calling methods?

Would this be intuitive? Or confusing. You could sti

[2019-10-07 22:13] calebporzio commented on #316
Sorry, it's hard to follow this issue quickly. Can you provide a simple bit of code I can copy and paste to recreate the issue?

Also, we can definitely add that second param back into specialHandlers.js if that will fix it, I just need clarification that that is the fix, OR I need to reproduce the issue locally to verify myself.

Thanks.

[2019-10-07 22:19] calebporzio commented on #313
All these thoughts make good sense. Thanks for the feedback. Does anyone have ideas of what attaching `wire:model` to form element would look like in the backend?

Some initial thoughts:
would wire:model="foo", bind to a public property called `$foo` that's just a plain array of data? OR will `$foo` be a Livewire object called "LivewireForm" or something that get's hydrated. How ill someone valida

[2019-10-07 22:58] wsamoht commented on #319
Thanks @calebporzio!

Thinking this through, I see two ways of using Livewire to persist data back to the application/database. The first is property by property every time Livewire makes the update (no save button). The second is with a save or submit button which we are talking about here.

With the first option (persist property by property), you would need to use real-time validation so it doe

[2019-10-08 02:07] bdweix commented on #313
@calebporzio I'm not exactly sure how this could work, but would it be plausible to leverage the existing request object somehow? Or a Livewire specific request object?

For example, if a user submits a form with `wire:form="store"` or `wire:submit="store"`, a request object will be passed to the controller function `store(Request $request)`. The `$request` would contain all of the inputs that wer

[2019-10-08 02:43] roni-estein commented on #319
@calebporzio @wsamoht ,

Honestly, I was just playing around with livewire and this little useful project came up which is simply a set of dynamic forms, and some reporting options. So it was more to teach myself something while contributing something useful to a local community board at the same time.

This project has no need for livewire. Laravel and Vue or just vanilla JS would suffice.

That

[2019-10-08 07:56] slava-vishnyakov commented on #321
Maybe we can have a config option, something like
[code]

and also a base method

[code]

That way you could override it in your component like this:

[code]

@calebporzio I'll try.

[2019-10-08 08:53] azurinspire commented on #316
You should be able to recreate it with the code in my last comment, at least it is giving the error for me. And I'm not sure my first comment was valid, adding the second parameter is not probably the correct fix.

[2019-10-08 09:41] slava-vishnyakov commented on #321
Opened a Draft PR https://github.com/livewire/livewire/pull/323

[2019-10-08 13:01] kevindierkx opened #324 "Mention the use of @livewire explicitly in the docs"
This is not a burning issue in any way, rather a nice improvement in my opinion. After reading through the docs starting with the "Installation" chapter, and skipping the "Quickstart", I was a bit confused how I actually render a Livewire component.

Afterwards I found out it was actually mentioned in the "Quickstart", I would propose to explicitly mention this in the 'elaborate' docs and maybe ev

[2019-10-08 14:12] roni-estein commented on #319
Just a clarification, when I spoke about a renderless component I was thinking about implementing that concept in livewire. Not pushing vue dependancy on this.

[2019-10-08 19:35] jeroenbalk-adwise commented on #290
Found anything on this yet? :)

Thx in advance

[2019-10-08 21:17] roni-estein opened #325 "Unable to set public properties during unit test"
**Describe the bug**
While Trying to TDD a component, I am unable to set a public variable, instead
`Livewire\Exceptions\ProtectedPropertyBindingException` is thrown;

**To Reproduce**
Component:
[code]

Test:
[code]

**Expected behavior**
It should fail with the current count being 0 and not 1 as there is not yet an implementation.
However it throws an exception instead

Livewire\Exceptions\Prote

[2019-10-08 21:43] roni-estein commented on #325
Docs are in correct in showing testing examples
[code]
Closing and reopening issue on docs

[2019-10-08 21:43] #325 closed

[2019-10-09 03:25] roni-estein commented on #324
Why not make a PR to the docs?

[2019-10-09 09:04] kevindierkx commented on #324
Sure thing, when I get the time will certainly look into it. ;)

[2019-10-09 17:19] allmanaj commented on #316
I've just tested this and adding the second parameter back into the `fromEl.setAttribute` in specialElHandlers.js seems to resolve the issue. I'll open a PR shortly 😁

[2019-10-09 18:12] allmanaj commented on #316
opened a PR #326

[2019-10-10 12:30] oliverbj opened #327 "Route::livewire dependant on the order"
**Describe the bug**
I have below normal resource controller in Laravel registered in my `web.php` file:

[code]

Now, the `create` method is a Livewire component, so the above resource controller does not include this. I have a separate route for that:

[code]

Now, if I register the `Route::livewire` _after_ the `Route::resource`, I am encoutering a 404 Not Found page:

[code]

However, if I reg

[2019-10-10 14:09] intellow opened #328 "Embedded Components DOM Diff Issue"
I have nested components in my site and they don't work very well together.

Steps to Reproduce:
Go to laravelstl.com/login and use test@laravelstl.com / password
Go to laravelstl.com/events
Click the button to "Hide Unscheduled Events", then click it again to unhide

Results:
You can no longer click that button anymore, and the site is now missing some content. At this point, livewire is no longe

[2019-10-10 16:51] intellow opened #329 "Failed to execute 'setAttribute' on 'Element': 2 arguments required, but only 1 present."
When updating from 0.3.10 to 0.3.11, I am getting this error on every livewire network request:
[code]

I have looked in to the changes from 0.3.10 to 0.3.11 and cannot figure out how this issue was introduced. I will keep looking but would love to know if anyone else has seen this.

[2019-10-10 19:49] intellow commented on #329
Looks like this is the change that broke it.

![image](https://user-images.githubusercontent.com/40676515/66601196-f0c5c900-eb6c-11e9-99ab-85c399fb8b72.png)

I can submit a PR to revert this change, but I'm curious why the change was made in the first place.

[2019-10-11 16:01] intellow commented on #329
This is a duplicate of #316. There is also already a PR that fixes that issue as well. Closing this one.

[2019-10-11 16:01] #329 closed

[2019-10-11 16:59] calebporzio commented on #316
Is fixed in latest release: 0.3.17

[2019-10-11 16:59] #316 closed

[2019-10-11 18:25] cbaconnier commented on #327
This is normal and not a livewire issue

[code]
The resource above will generate the routes below

[code]
Notice `streams/{streams}/fields/{field}`

So when you request with the URI `/streams/1/fields/create` `create` will be interpreted as valid parameter and will hit your resource `Stream\FieldsController@show`

[2019-10-11 18:51] cbaconnier commented on #328
I'm not familiar with `key()` but I don't think it belongs there. What are you trying to do with?

[2019-10-11 20:08] intellow commented on #328
The key is there as stated in the nested components section of the docs. If I remove it it doesn’t change the behavior.

https://laravel-livewire.com/docs/nesting-components/

[2019-10-13 10:23] davidpiesse opened #331 "Frontend Preset"
Create a frontend Preset for Laravel using Livewire.
Super simple as we have no extra dependencies outside Livewire.

- Create repo
- Create stubs for views (welcome, login, forgot, index)
- Create Preset installer

Main questions are
- What CSS framework (my vote is Tailwind via CDN)
- Logout via JS or Lw
- How many components do we create?

[2019-10-13 14:55] calebporzio commented on #328
I see an error in the console when I follow those steps:

![image](https://user-images.githubusercontent.com/3670578/66717507-d62b6400-eda7-11e9-8052-1fcf5f84ec4b.png)

See if that has anything to do with an SVG in the DOM or something else like that? If not, I'll dig in when I get a chance.

[2019-10-13 15:10] marksalmon commented on #328
Hey,

I had this exact same problem today. Turns out it was related to having the
a wire:modelled select input inside nested components. I was able to solve
the problem by giving each one a unique name:

Hope this helps

Mark

On 13 October 2019 at 15:55:06, Caleb Porzio (notifications@github.com)
wrote:

I see an error in the console when I follow those steps:

[image: image]
<https://user-images

[2019-10-13 16:19] roni-estein commented on #331
I’m not against this, but this is pretty site specific. Not just design wise but even in terms of how the forms would interact.

That being said a baseline like art:make auth is not a bad idea. If you like tailwind as the preset, which i use myself peerhaps using the form-presets from Adam Wathan would be a good starting point.

If any feedback comes from Caleb on this I’d be happy to submit a sta

[2019-10-14 11:29] kriskornel opened #332 "Error when passing parameter to an action"
**Describe the bug**
Hi master caleb what an awesome framework, i installed livewire on laravel 5.6 and i got a problem when trying to add parameter to an action

**Error**
The message error that i got
[code]
**To Reproduce**
My Livewire component
[code]

**Desktop:**
 - Browser [chrome]

[2019-10-14 13:37] jwktje commented on #313
Using forms this way solves my issue #117 after some refactoring. So this would be great!

[2019-10-14 19:22] calebporzio commented on #328
Hey @marksalmon, thanks for pitching in. Would you be able to post a simple code snippet for me to reproduce? Can just be pseudo-code if need-be

[2019-10-14 19:25] calebporzio commented on #331
I'm torn on this.

I definitely like the idea of someone being able to type `php artisan preset livewire` and get basic scaffolding like you do with Vue.

As far as building and maintaining stubs for auth stuff... I'm not sure about that. Probably not something I want to officially support ATM. Or maybe I could put it under this namespace after I  see it and it looks good? Idk, it's a reasonable f

[2019-10-14 19:28] calebporzio commented on #332
Heh, thanks.

Can you post the code where you call "letsTalk"? Reason: it's possible this is happening  because you aren't passing the "roomId" properly? The issue is that Livewire is trying to resolve that param as a dependancy out of Laravel's IoC container, which tells me it was never passed into begin with.

[2019-10-14 19:28] davidpiesse commented on #331
Like pineapple pizza... 🍕

Fair enough. I will dig into the auth part. Ideally we are using stock
Laravel it's just the views we override.

On Mon, 14 Oct 2019, 20:26 Caleb Porzio, <notifications@github.com> wrote:

[2019-10-14 19:30] calebporzio commented on #313
Hey @bdweix - that's a really interesting suggestion. It would be a HUGE win in terms of usability. The question is, do we want to "fake" the Laravel request.

We would have to work some black magic (totally possible), but we have to decide if it would be too much magic.

[2019-10-14 19:32] calebporzio commented on #313
Hey @jwktje - can you expound on how this solves your problem? Thanks, it's just hard to context switch, and you spelling it out for me will be much easier. Thanks!

[2019-10-14 19:34] calebporzio commented on #327
Sneaky, good call @cbaconnier - thanks a ton for looking into this!

[2019-10-14 19:34] #327 closed

[2019-10-14 19:40] kriskornel commented on #332
Hi thanks for the response,
here is my component class code
[code]
And the blade file is like this
[code]
When i try to use ***$emit*** function in fresh laravel 5.8 all is working good, but when i did implement in my code that use laravel 5.6, i got this kind of problem

[2019-10-14 19:58] bdweix commented on #313
@calebporzio - I agree I think faking a Laravel request would be too confusing. Instead of "faking" it, I think you could potentially provide access to the original request that Livewire grabs. This may require some moving of the Livewire data into a single field `livewire` to avoid confusion.

That way if I attached Livewire to a form and did `dd($request)`, all of the form inputs are visible ins

[2019-10-15 02:22] intellow commented on #328
There are SVGs on the page, but none inside of either livewire component.

[2019-10-15 10:47] jwktje commented on #313
@calebporzio Sure! The refactor below results in the expected behavior that I mention in my issue #117
**chat.blade.php***
[code]

**Chat.php**
[code]

[2019-10-15 16:19] assertchris opened #333 "Double-quotes not supported for $set"
`$set('step', 'repositories')` works as documented, while `$set("step", "repositories")` throws a `Livewire\Exceptions\MissingComponentMethodReferencedByAction` exception.

**Expected behavior**
I expect double quotes to work in the same way as single quotes, since they are interchangeable in PHP and JS.

[2019-10-15 17:18] assertchris opened #334 "`wire:loading.attr` overrides `wire:loading.class.remove` overrides `wire:loading.class`"
It doesn't appear to be possible to use attribute and class[.remove] together.

**Expected behavior**
I would like to be able to use Tailwind (without also writing custom CSS to support visual changes when only disabled attribute is changed).

[2019-10-15 17:37] marksalmon commented on #328
Hi @calebporzio,

I don't think I can do a simple code snippet because the problem comes from a complex component that can be nested inside itself. I am building a 'query builder' to use in conjunction with my Livewire Datatable and therefore have a concept of a `query-group` that itself can contain `rules` or further `query-groups`

So I have created a repo to demo this issue:

https://github.com

[2019-10-15 20:29] ServerJunge opened #335 "Hyphen in wire:click"
Hello,

In my livewire component I have the following function:

[code]

And the following Button in my liveware blade file:

`<button class="btn btn-sm btn-primary" wire:click="markAsRead({{ $notification['id'] }})">Mark as Read</button>`

When I inspect the button in Chrome Dev Tools I can see that die notification id is correctly added:

`<button wire:click="markAsRead(5975ef82-06f1-49e1-8691-9

[2019-10-15 20:59] erikscheepers commented on #335
Does adding single quotes around the notification id help?
`wire:click="markAsRead('{{ $notification['id'] }}')"`

[2019-10-17 03:36] johnnyfreeman opened #336 "Add self modifier for the click event"
**Is your feature request related to a problem? Please describe.**
Not a _problem_ per se. But here's use-case. When building a modal window, it's pretty common to dismiss when clicking the modal backdrop.

**Describe the solution you'd like**
I'd like to only trigger the click handler if `event.target` is the element itself, not one of it's children. Something like `wire:click.self="doSomething"`

[2019-10-17 12:39] erikscheepers commented on #311
Fixed this issue by removing the nesting. The `my-alerts` component now just blade-include's the previously nested component `alert-status`.

[2019-10-17 14:15] fakingfantastic commented on #336
@calebporzio ill take a crack at this if it's something you want to offer?

[2019-10-17 15:49] fakingfantastic commented on #336
Let me know how that pull request treats you

[2019-10-18 13:19] #253 closed

[2019-10-18 14:32] nie7321 opened #338 "Default asset_url to the app.asset_url ?"
**Is your feature request related to a problem? Please describe.**
I'm deploying on Vapor, which injects the `ASSET_URL` env var with my CloudFront domain. I have to explicitly wire this in a fresh Livewire install.

**Describe the solution you'd like**
The `app.assets_url` is already stock Laravel feature for any time you want to serve assets from a CDN.

It would make sense to me that `livewire.

[2019-10-18 18:18] dylanmichaelryan opened #339 "Chrome Extension LanguageTool problem"
**Describe the bug**
Hello,
if the extension languagetool is installed, textareas with wire:model are kinda broken. If you type something in the input field, the text will get removed after a few characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Create textarea with wire:model
2. Install LanguageTool Chrome Extension
3. Try to type something in input or textarea
4. See error

**Exp

[2019-10-19 11:52] adrianschubek commented on #339
This doesn't seem to be related to Livewire.

[2019-10-20 16:50] ServerJunge opened #340 "RouteMiddleware on Post/Action"
Hi,

i love Liveware, but i have some routeMiddleware in my app.

In a livewire get request the routeMiddlewares are used, but how can I use a routeMiddleware on a liveware post/action? It only uses the default web middleware, but I  can not add my middleware to the web group because i only need it on some parts of the app.

Any ideas?

Thanks!

[2019-10-21 09:40] yashiroiori commented on #306
Hi.
I use https://github.com/nWidart/laravel-modules to make modular app and I try to do add components into modulo
In the service provider add an component, render it's ok, but not work data binding, check in request are make to url 'livewire/message/{name}' but response 302 not found, how do to fix it??

[2019-10-21 13:40] wsamoht commented on #340
What is your middleware doing? If it is for authorization, your best bet will be using a Laravel Policy and then the `AuthorizesRequests` trait in the Livewire component.

https://laravel-livewire.com/docs/authorization/

[2019-10-21 13:59] oliverbj opened #341 "hash_equals(): Expected user_string to be a string, null given"
I have a component called `RuleViewer.php` and a view `rule-viewer.blade.php`. Inside this view, I am dynamically loading another Livewire view:

[code]

As you can see, in this loop I am dynamically loading livewire components, depending on the `$rule['view']`. A dynamic view can look like this:

RegexTextReplace.php
[code]

And inside my view, I have an input field like so:

[code]

Now the prob

[2019-10-21 18:37] BrekiTomasson opened #342 "Not updating unless I manually set the component to poll"
**Describe the bug**
This is probably a conflict with something else in my system, but I can't for the life of me imagine what it could be. I installed Livewire as per usual and set up the counter example from the documentation, but it just doesn't work as advertised. I can see that things are being updated in the background, because if I set the component to poll every so often, the value _does_

[2019-10-21 21:15] jacobsmith commented on #342
Are you getting any JS error messages in your console?

[2019-10-23 12:53] erikscheepers opened #343 "Error after canceling page reload"
**Describe the bug**
My issue is maybe a bit far fetched, but maybe the solution is not.
I use the `beforeunload`-functionality to give a warning when a user wants to reload (or close) the browser tab. If you want to stay on the page, you press `Cancel`. Then the polling stops and I get this error message:

The error originates from line:
https://github.com/livewire/livewire/blob/3d3e74312bd39097f

[2019-10-23 18:12] intellow commented on #316
@calebporzio This wasn't actually fixed in the latest release. The update was made in the source file (line 5 of /js/dom/morphdom/specialElHandlers.js), but the update never made it to the compiled js file (line 4617 of /dist/livewire.js) and I'm still seeing the issue on the latest release.

[2019-10-23 19:09] mbardelmeijer opened #344 "Adding rows generated JS error: 'getAttributeNames' of null"
**Describe the bug**
When implementing a simple livewire component, and adding new rows to an array, the 'getAttributesNames' of null error is triggered. See example below.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the following component:

`app/Http/Livewire/Lines.php`
[code]

`resources/views/livewire/lines.blade.php`
[code]
2. Click on "add"
3. See a new row showing up
4. Click

[2019-10-23 19:15] mbardelmeijer opened #345 "Twig support"
**Is your feature request related to a problem? Please describe.**
We use Twig in Laravel projects internally instead of the blade syntax. Livewire is connected by the `@livewire` call directly to Blade.

**Describe the solution you'd like**
We would love to see the `@livewire` code to be extracted to the LivewireManager for instance so we can call that function manually.

**Describe alternatives

[2019-10-23 22:48] intellow commented on #344
I have an issue #328 where I'm getting the same error message. Caleb is at Full Stack EU but hopefully will be able to look at this soon.

[2019-10-24 11:17] oliverbj commented on #344
I am getting the same error.

For me it happens in cases where I try to use a `<select>` instead of an `<input>`. For example:

[code]

When changing the select option here, I get the error `getAttributeNames` error.

If I change above to a simple input, like below it works:

[code]

[2019-10-24 11:33] #27 closed

[2019-10-24 11:35] calebporzio commented on #36
@oliverbj, can you post easily copy and pastable components for me to reproduce the issue?

[2019-10-24 20:29] roni-estein opened #346 "Is there a paradigm where I can use a "controlled component" in livewire"
I'm working on my second livewire charity project... I need to know it better before I introduce it into something paid. I'm hoping I can make that choice soon.

My first project was a tiny set of forms and everything mapped 1:1 where data was either shown or not shown, and I'd like to have a series of slightly more complicated controls.

I have a series of yes no questions where yes or no, depend

[2019-10-24 21:29] roni-estein commented on #346
Update, even worse :

I thought I'd clean it up a bit:

in component added:
[code]

Then in blade refactored:
[code]

Looks the same but blows but only after it renders properly and you toggle some changes. Which all used to work until organizing data in an array for easier upgrades.

Here are the images:
First Render:
<img width="369" alt="Screen Shot 2019-10-24 at 4 27 14 PM" src="https://user-i

[2019-10-24 21:30] roni-estein commented on #346
I could put a demo together if it helps debug it later tonight.

[2019-10-25 04:58] yashiroiori commented on #190
Hi.
Goo joob.
I have a vue component into a livewire component to show list of registers
![image](https://user-images.githubusercontent.com/17031855/67544055-96268400-f6b9-11e9-909a-4d692b40d90d.png)

But its not render
![image](https://user-images.githubusercontent.com/17031855/67544079-b1918f00-f6b9-11e9-8c40-4f1b3db8869d.png)

Into devtools not appear <root>
![image](https://user-images.githubu

[2019-10-25 09:05] calebporzio commented on #328
Hey @marksalmon, thanks for making this easy for me. Unfortunately, the "without" page for me works fine. No console errors, and here is my usage:

![image](https://user-images.githubusercontent.com/3670578/67558447-51313a80-f717-11e9-8a3d-6e3b8727fa53.png)

Am I missing something, or is this a case of "works on my machine"

[2019-10-25 12:48] dave-alvarez commented on #342
I was having the same issue. The javascript portion of livewire is not initiating properly unless something like poll is used.

Obviously, I don't want to poll if I don't have to and setting a long duration for the poll function only fires for the first time once that long poll time has been reached. As a temporary fix, I am using a dummy function in the livewire php component and then calling tha

[2019-10-25 14:04] marksalmon commented on #328
The plot thickens.

I just tried again using incognito chrome (Version 77.0.3865.120 (Official Build) (64-bit)) and I still get the error
![image](https://user-images.githubusercontent.com/7000886/67576300-36ba8980-f736-11e9-9a54-34ec7cbdca0c.png)

In firefox I get a different error on adding nested groups, but the component does appear to continue to function
![image](https://user-images.githubus

[2019-10-25 17:49] roni-estein commented on #346
Weird, changing this back to:

@livewire('question-with-hidden-other','well_today', 'Are you well today?','If no, describe')
    @livewire('question-with-hidden-other','allergies', 'Do you have any allergies?','If yes, describe',0)
    @livewire('question-with-hidden-other','conditions_following_vaccines', 'Have you ever had a serious reaction or condition following any vaccine?','If yes, describe

[2019-10-26 01:58] roni-estein commented on #346
Here is a project with instructions and the bug reproduced.

https://github.com/roni-estein/livewire-bug

[2019-10-27 03:23] roni-estein commented on #346
I'm a douche! I didn't see the keyed component section!

[2019-10-27 03:23] #346 closed

[2019-10-27 16:36] yashiroiori commented on #320
Hi, good job.
I'm try to make an sweetalert but not work

This is the actions buttons into a table
![image](https://user-images.githubusercontent.com/17031855/67637958-7653b380-f8a5-11e9-9984-eb5dc54bb17e.png)

This is the inline-script
![image](https://user-images.githubusercontent.com/17031855/67637973-8ff4fb00-f8a5-11e9-9d1e-f1edbbdda78a.png)

But into documentacion say:
![image](https://user-i

[2019-10-28 14:56] #341 closed

[2019-10-29 01:50] yashiroiori opened #347 "Boilerplate"
Hi.
There would be some possibility of being able to develop a base system by implementing the basic things needed for a system such as a BREAD, broadcast, modal, sweetalert, etc. to make it easier to use this package for new colleagues who find it and see how easy development is and have A real guide to implementation?

I can develop it in my spare time but I would like you to support me with the

[2019-10-29 11:29] BrekiTomasson commented on #342
Yup, @dave-alvarez - that did it! Thanks!

[2019-10-29 11:45] oliverbj commented on #344
So I got this issue solved by adding a `wire:key` tag to my main `<div>` element.

This issue is, at least for me, only present when I am using the `<select>` input _inside_ a nested component:

For example, I have a main component:

[code]

Further, then inside the `nested.component`, I have this:

[code]

Notice the `wire:key="{{$user['id']}}"` tag on the first div. Adding this, fixed the `getAt

[2019-10-29 18:14] linuxjuggler opened #348 "How to test that a component triggered an event via emit"
Hey,

I have a component that triggers an event using `$this->emit`, what options do I have to test it?

Thanks

[2019-10-31 04:59] edalzell opened #349 "Can't wire up Vue Web Components"
**Describe the bug**
With a Vue Date Picker web component, I can't bind the data via `wire`.

**To Reproduce**
1. `npm install v-calendar vue-custom-element`
2. Import/register everything
[code]
3. Create Livewire component
[code]
4. Add component to page
[code]
5. Build and view page

**Expected behavior**
When a date is picked, it is displayed on the page

**Screenshots**
<img width="247" alt="i

[2019-10-31 11:24] kurucu opened #350 "Links do not work if page is revisited"
**Describe the bug**
If I navigate away from the page and then head back in the browser, the live functionality stops working. Refreshing the page restores it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a page with a component in it that uses e.g. pagination.
2. Use any normal link to navigate forward.
3. Navigate back in the browser.
4. The (e.g.) pagination links no longer work

[2019-10-31 14:13] oliverbj commented on #344
Sorry, but above only fixed it partially. Sometimes the `getAttributeNames of null` error occurs, but I cannot figure out why and when.

[2019-11-03 10:47] ServerJunge opened #351 "Uncaught (in promise) SyntaxError: Unexpected token T in JSON at position 0"
Hello,

I use Laravel/Livewire together with [Laravel/Stancl](https://github.com/stancl/tenancy).

But I get the following error in my google chrome console:

[code]

I just created a basic component/class with php artisan make:livewire invite

[code]

[code]

I think it has something to do with the multitenancy package -> subdomain?

[2019-11-03 16:55] ServerJunge commented on #351
I further nvestigated my problem and I think that the problem has something to do with the routes. Because when I have a subdomain the laravel/stancl package does use not the default routes/web.php but instead the routes/tenant.php.

Any idea how to fix this?

[2019-11-03 17:27] ServerJunge commented on #351
When I add the Route to the default routes/web.php it works like charm. But not if I use the routes/tenant.php

[2019-11-04 18:57] jrseliga commented on #36
@calebporzio maybe we could hop on a quick Zoom call for 5-10 minutes and I can show you the issue?

[2019-11-05 15:54] panda-madness commented on #351
@ServerJunge try adding the `web` middleware to your routes in tenant.php

[2019-11-05 17:46] ServerJunge commented on #351
@panda-madness thank you for your answer.

I think I found the source of the problem. See the following Telescope screenshots.In the first screenshot  I just return the index view with the livewire component and there are two middlewares attached (web and tenancy)

![image1](https://i.imgur.com/KapMvN3.png)

The second screenshot is the post method from the component. And there is only one middlew

[2019-11-05 18:18] ServerJunge commented on #351
It works now... But I don't know if it is really the best solution.

I created a new middlewareGroup -> 'livewire' and copied all entries from the 'web' group and change "PreventAccessFromTenantDomains::class" to "\Stancl\Tenancy\Middleware\InitializeTenancy::class"

https://tenancy.samuelstancl.me/docs/v2/tenant-routes/#custom-groups

[code]

Then I changed the Livewire Config to recognize the ne

[2019-11-06 12:45] panda-madness commented on #68
Looking through the Blade compiler source, at least on the surface it seems that most of the code responsible for rendering `@component` tags could be adapted for this feature. Specifically `Illuminate\View\Compilers\Concerns\CompilesComponents` and `Illuminate\View\Concerns\ManagesComponents` traits. I'll experiment a bit with this on the weekend.

[2019-11-06 21:33] coryrose1 opened #352 "WithPagination trait not functioning. View defaults to Laravel Bootstrap pagination."
**Describe the bug**

I'm working on a livewire table package wherein the columns can be sorted by clicking the <th> and the data is paginated. This works via normal query builder.

Using `{{ $data->links() }}` is returning the default Laravel / Bootstrap pagination view even when using the `Livewire\WithPagination` trait. I verified by publishing and adding text to the Laravel/Boostrap pagination

[2019-11-07 20:45] coryrose1 commented on #352
Update: I can confirm there is no issue with the `WithPagination` trait when using with any component other than my "table query builder" component. So something in the `LivewireModelTable` component is causing the `WithPagination` trait not to function correctly.

Since it's directly related to my component, I've also opened an issue in my repo here: https://github.com/coryrose1/livewire-tables/i

[2019-11-08 17:35] ServerJunge commented on #297
Same here...

Just used the example from the docs

https://laravel-livewire.com/docs/input-validation/
[code]

[code]

[2019-11-08 19:55] roni-estein opened #354 "Livewire encountered corrupt data when trying to hydrate the component issue."
**Describe the bug**
Short: I have an array of tasks, just a 2d array with text in keys, that livewire is loosing state on.

Longer: This is a volunteer school board project that I'm going VERY YANGI on, in the hopes it takes just a few days of spare time. We have a bunch of shared tasks, that I'm putting online for the right people to see.

I made a simple checklist component and added it to the

[2019-11-08 22:17] calebporzio commented on #175
## Stub Make Command
`artisan livewire:stub foo`
- this would make two files:
* `app/Http/Livewire/Stubs/Foo.stub`
* `resources/views/livewire/stubs/foo.stub`

You can reference the stub like so:
`artisan make:livewire some-component --stub=foo`

You can override the default stub by making `Default.stub` and `default.stub` files in their respective directories.

Packages can contribute stubs (and

[2019-11-08 22:18] calebporzio commented on #175
To make a default stub: `artisan livewire:stub default`

[2019-11-08 22:27] intellow commented on #328
My specific issue is fixed by removing `wire:model="score"` from the div, which shouldn't have been there anyway, but I spoke with Caleb and there is an underlying issue that he is looking into. Will close this one when that is resolved.

[2019-11-09 06:05] stefanbauer commented on #297
I can confirm that.

[2019-11-09 10:53] stefanbauer commented on #297
I dig into it much more and I found at least the problem.

The problem on my side is/was I use the `@error` directive. It works fine when you use it only once. But if you have multiple fields and use that multiple times, it ends up with the error above. I understand, why this happens actually (because it tries to render `$message` several times in different contexts afaik), but I don't have any id

[2019-11-09 11:08] stefanbauer commented on #297
Ok this was a little bit fast. That's not exactly the problem. Here is the problem:

This works:

[code]

This doesn't work:

[code]

As soon as you use a condition within an html tag it blows up.

[2019-11-09 11:26] stefanbauer commented on #319
I'd go exactly that way, with @wsamoht  suggestions:

- errors should overwrite always
- a method on the base class that allows clearing the bag
- an optional option to choose if the errors should be persisted

[2019-11-09 18:23] panda-madness commented on #349
Try wrapping your component into a proxy custom element, via [this](https://github.com/karol-f/vue-custom-element) library.

P.S. Statamic v3 when?! :)

[2019-11-10 04:04] roni-estein opened #356 "Set focus"
Hi, I was just looking through the docs, and a super common use case for me on a page is setting the focus somewhere after I have a click event. Is there a way to deal with this in livewire, or defer to local JS? Can I defer to local after calling an event on the package? Maybe a quick docs page on this might be helpful.

Cheers

[2019-11-10 04:33] roni-estein commented on #354
<img width="717" alt="Screen Shot 2019-11-09 at 10 31 59 PM" src="https://user-images.githubusercontent.com/8517475/68538871-d3894380-0340-11ea-8aac-ad52b99f0ee6.png">

Can you use some sort of unique-key implementation when making an array element?

[2019-11-10 07:05] cihantas commented on #354
Could you further elaborate why you believe this is related to the unique-keys? I have the same problem in a form.

[2019-11-11 14:28] tabuna commented on #356
Hi @roni-estein , if I understand you correctly, that you are adding new elements and want to immediately set autofocus for them.

Please see this example:

[code]

This is a simple form that simulates a situation in which, by clicking on the button, a modal window appears, where the input field will be offered to the user to fill in automatically.

[code]

This is what you need?

[2019-11-11 14:54] calebporzio commented on #328
@intellow (and everyone else). This should be fixed in `dev-master` (the master branch).

Mind pulling it down and testing it in your project before I tag it? (there's a pretty big refactor that just makes me nervous to tag without others confirming it's good)

Thanks!

[2019-11-11 14:58] tabuna commented on #354
Hi, I was able to reproduce the problem where the hashes start to differ:

This option gives the same hash
[code]

But if you put a space, then the hashes will no longer match:

[code]

[2019-11-11 15:43] intellow commented on #328
I just updated to dev-master and when I tried to load my page to test, I am got this error:
```Object of class Illuminate\Support\Fluent could not be converted to string (View: /Users/kevinmckee/Code/laravelstl/resources/views/livewire/events.blade.php)```

running `php artisan view:clear` fixed that.

After that, everything is running beautifully. I tested every aspect of our livewire implementat

[2019-11-11 16:11] calebporzio commented on #328
Perfect, thanks @intellow

I just paired with @marksalmon - and the `dev-master` branch fixed all his issues.

I'll tag the release now.

[2019-11-11 16:11] #328 closed

[2019-11-11 16:28] calebporzio commented on #354
@roni-estein, I pulled down your "checklist" component and it seemed to work how it should:
![Nov-11-2019 11-23-20](https://user-images.githubusercontent.com/3670578/68603191-d6d21b80-0475-11ea-90d1-bfce19897c34.gif)

@tabuna, thanks for boiling the issue down further. I tried the `tasks` data you posted and it worked fine as well.

Is that data breaking for you both? (the data with the space in i

[2019-11-11 16:29] calebporzio commented on #354
Also, shouldn't have anything to do with unique keys @roni-estein & @cihantas

If you are having issues @cihantas, pull down the latest version of Livewire. If that doesn't fix it, open an issue.

Also, `key=` is a typo in the docs, it should be `wire:key=` - I'll fix that stat.

Thanks!

[2019-11-11 16:47] calebporzio commented on #356
Here's a way you can hook into Livewire  events and do things with JS:

Blade Template:
[code]

Relevant Parts Of Component:
[code]

[2019-11-11 17:31] cihantas opened #358 "Clicking a button while textarea is focused causes error"
**Describe the bug**
If an input field (a text area in my case) with a wire:model.lazy attribute is focused and a button with wire:click.prevent is clicked, the button click seems to be queued but not executed. You have to click once more, but then the function bound to the button is fired twice.

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following view and component:

[code

[2019-11-11 17:38] #348 closed

[2019-11-11 19:35] cihantas commented on #358
After further research I found what I believe is a code part matching this issue:

https://github.com/livewire/livewire/blob/2daad5d54e2743174951af68bf383c90182afd3a/src/js/Component/index.js#L96-L103

[2019-11-11 20:13] cihantas commented on #358
I was able to fix the issue temporarily by increasing the debounce to 75ms. I had no success with anything <50ms.

I'm curious: The debounce is used to avoid two separate action syncs, but if I set a low debounce only the first request is fired and the second action is only fired *if* there's a following event. Therefore I don't believe what I did solves the actual issue, but is just a temporary w

[2019-11-11 23:09] calebporzio commented on #358
Yes, this is a known issue. The problem is that `wire:click` is listening for a `click` event, which actually fires on `mouseup`. However, the `.lazy` fires on a `change` event, which happens when an input element looses focus (on the `mousedown`).

So to illustrate better, here's what's happening:

* The input element is currently focused
* The mouse goes "down" on the button
* The input element

[2019-11-11 23:46] calebporzio commented on #348
Curious why you closed this, I think Livewire needs an assertion for this kind of thing.

I just added it for you. It's called `assertEmitted($event)`. You can optionally pass in parameters to assert against params, or a callback to assert against a closure of your own.

Hope this helps you!

I'll have it available in the next release, and have it documented shortly.

[2019-11-11 23:51] calebporzio commented on #348
Ok, the assertion has been tagged in a release and the feature is documented here: https://laravel-livewire.com/docs/unit-testing/#end-to-end-testing

[2019-11-12 03:17] roni-estein commented on #354
Guys thanks so much for checking it out, so busy with kids and "play dates" for them that I haven't sat down at a screen until now. I'll update livewire and try to clear some caches. I did want to bring up, that this project has insane potential and with maintainers who are so quick to solve issues and help point out our "own" errors, it's a pleasure to work on.

I really appreciate it.

[2019-11-12 03:21] roni-estein commented on #356
Nice! That javascript solution looks perfect! I'll give it a try shortly! I think I need to re-read the docs if I missed that.

[2019-11-12 03:37] roni-estein opened #359 "Optional open tag for your IDE when creating a livewire component"
I'll probably do this in a bash script or make my own artisan command, however, in case anyone runs into this. I always run into the problem of having to sync folders in phpstorm when I add a file through an artisan command. So I normally strip out the filename or wrap the command and throw in a `pstorm <file(s)> `prompting phpstorm to sync and index only the generated file(s) right away.

It's al

[2019-11-12 03:41] roni-estein commented on #68
Love @wire

[2019-11-12 03:51] #356 closed

[2019-11-12 03:53] calebporzio commented on #359
I dont use Storm, so I'll wait for others to chime in. However, I typically don't add these types of things.

[2019-11-12 04:00] linuxjuggler commented on #348
Thank you @calebporzio

[2019-11-12 04:03] linuxjuggler commented on #348
I want to try and go over the code today and see if I can do a PR to address it, after I noticed that it it not available. But you were faster than me.

[2019-11-12 04:09] simongas opened #360 "Undefined variable on extended layout"
When I try to use a layout with some variables attached to it, livewire will throw an error. Undefined variable.

@extends('layouts.app', [
	'title' => 'Salas',
	'modalCreate' => true,
	'modalUpdate' => true,
])

Im calling this layout from a livewire view and will get the error undefined variable title. If I make a normal view instead it works fine.

 ErrorException (E_ERROR)
Undefined variable:

[2019-11-12 11:23] cihantas commented on #358
Changing `wire:click` to `wire:mousedown` sadly didn't solve the problem for us. The UI behaves slightly different now, but the problem persists.

A, B, C are also non-ideal solutions IMO.

I quickly sat down with my team this morning and we extended the components queue by a worker (consumer), a simple interval that is registered in the constructor, which continuously calls `fireMessage` whenever

[2019-11-12 17:25] calebporzio commented on #358
Would a more elegant solution be to have some logic when any request comes back from the server that says:
* is there an action in the queue?
* fire it

what do you think?

[2019-11-12 18:38] shadoWalker89 opened #362 "Use component methods within blade"
I would like to make use of methods in the component class inside of the component's blade.
For example i find it better to have a method called `isSelected($id)` and use it in blade instead of doing the check `in_array($id, $selectedIds)` directly in blade

The ideal way i see it is that when using `$this` inside of blade it will reference the class.

What i'm doing right now is i'm accessing the

[2019-11-12 18:41] cihantas commented on #358
IMO that sounds even better, because:

- less complexity e.g. no interval to manage
- no delay between response and next action sync, compared to the interval

We've thought about this, too, but were a bit under pressure and concerned we might miss something in the rush, like what if a request fails?

This could actually fix the issue in a couple lines. 👏

[2019-11-12 20:08] roni-estein commented on #354
Ok, I've tried hammering through this a couple of ways, and I published a sample new project with nothing in it except this component. https://github.com/roni-estein/test Please take a quick look and see if we can find the difference in your working version and mine.

[2019-11-12 20:40] calebporzio commented on #319
Ok, @stefanbauer, @roni-estein, and @wsamoht. I think I solved Validation in Livewire:

There are TWO validation scenerios I wanted to cover.

THE FIRST: normal, submit button, validation
[code]

* A user fills in a input element (no error is shown)
* The user clicks the submit button (the appropriate validation error is shown)
* A user fixes the error in the input button (same error is still show

[2019-11-12 20:43] roni-estein commented on #354
Ok, adding this to AppServiceProvider works ObjectPrybar needs to be imported. However shouldn't that already be loaded by LivewireServiceProvider?

[code]

[2019-11-12 20:52] calebporzio commented on #354
Ok, the problem is that Livewire only ignores the `vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php` middleware, not the local app one (`app/Http/Middleware/TrimStrings.php`).

I added both now to the bypass.

This fix will be out in the next release.

Thanks for uploading that repo @roni-estein - big help!

[2019-11-12 20:55] calebporzio commented on #358
Yeah, it actually opens the door for more possibilities as well.

It should definitely be implemented, and good call on the failed request gotcha - I'll try to add a test for that, or at least account for it.

Good stuff.

[2019-11-12 20:59] calebporzio commented on #362
Intresting... Yeah, like you found, you can use `$_instance`, but it of course feels hacky.

I currently use `@this` to reference the javascript `this`, so it might be confusing.

However, I to kinda like exposing a `$this` for the current component from a Blade template.

I'd be open to a PR. I think I dig.

[2019-11-12 21:03] roni-estein commented on #354
not opening a new issue for this,

right now, dev master is generating this, I'll switch back to 3.21 for now, but just incase this was an unintended issue

<img width="916" alt="Screen Shot 2019-11-12 at 3 01 09 PM" src="https://user-images.githubusercontent.com/8517475/68710623-7c13ef00-055d-11ea-96e8-a279d78057e5.png">

[2019-11-12 21:44] calebporzio commented on #354
Thanks for the report @roni-estein, I fixed this and pushed the fix to `dev-master`. I think it's actually a bug from Laravel 6. (I upgraded the project's testing suite to 6 just now). I'll look into PRing a fix to Laravel.

[2019-11-12 21:44] calebporzio commented on #354
It's caused by using the `@error` directive (that I actually PR'd to Laravel lol). Should work now though.

[2019-11-12 22:04] stefanbauer commented on #319
This is something I really like so far and it sounds promising. I will give it a shot tomorrow. I think I can tell more as soon as I tried it out :) Thanks for your effort!

[2019-11-12 22:11] shadoWalker89 commented on #362
So the only possible way to make $this be bound to the component is if the when the blade.php file is included is done within a closure that re-bind the $this keyword to an object.
That is only possible if a new laravel View engine is added or overriding the laravel engine itself. Since we don't want to do the latter we must try adding custom engine for livewire.
But here is the catch, adding a ne

[2019-11-13 01:09] calebporzio commented on #358
Ok, @cihantas, I have the change on the `dev-master` branch.

Pull it down and try it if you can.

1. I wasn't able to test the functionality (I tried hard, it's a really hard thing to unit test with the current setup)
2. I don't have any handling for failed initial requests. I'm not sure what the best way to handle them is. Things are broken anyways if something goes wrong, so idk... (I tested a

[2019-11-13 01:10] calebporzio commented on #362
Yeah, that's all good thinking.
I'm down for a `$component`, but it REALLY would be nice to have `$this`

[2019-11-13 01:11] calebporzio commented on #362
We can totally hack the engine instead of extending it. I already hack it a bit.

Not necessarily suggesting we do it, just sayin'

![image](https://user-images.githubusercontent.com/3670578/68724124-a4fda980-0588-11ea-9c76-5952a9537ebf.png)

[2019-11-13 01:13] calebporzio commented on #297
Ok, I just tried to replicate the issue locally and couldn't.

Pull down `dev-master` and try it locally. It's possible a recent addition fixed this. There were issues similar to this recently resolved.

Thanks.

[2019-11-13 01:55] roni-estein opened #363 "Form and data assertions"
**Is your feature request related to a problem? Please describe.**
Hey, using livewire a lot for forms, love it.  However, I've essentially stopped testing.

Are there any assertions like $response->assertSessionHasError() in livewire? Since it's handling validation?

If there aren't any, I'd be happy to contribute that, if someone would't mind pointing at a few starting place files to look at. I'

[2019-11-13 05:58] stefanbauer commented on #297
It has been solved with the current `dev-master` (whatever you did) :)

[2019-11-13 06:22] stefanbauer commented on #319
I tried it out and here is my honest feedback:

First of all, I really like it and it works great. Two things I noticed though:

1. When using real-time validation like this

[code]

and if you use required there is a strange behavior as of a UX perspective.

**How I would expect that it's working:**

- There is an empty form with 2 fields
- Focus the first field
- Tab to the next field
- Required

[2019-11-13 07:42] stefanbauer commented on #334
I noticed the same. Well, quite the same. What I found out is, that the order matters.

**What doesn't work:**

[code]

**What works:**

[code]

As soon as you define the loading class before the loading attributes, the class gets applied, otherwise not. I think this is a bug. Can anyone confirm it?

/cc @calebporzio

[2019-11-13 07:53] shadoWalker89 commented on #362
That is what i meant by overriding the laravel engine, but i thought you wouldn't want something like that. (I didn't check your code to see that you were already using it)
I tried something locally and it worked, i'll be making a PR soon for you to check.

[2019-11-13 08:58] shadoWalker89 commented on #362
PR ready https://github.com/livewire/livewire/pull/364

[2019-11-13 14:14] #297 closed

[2019-11-13 14:42] roni-estein commented on #354
Nice!

[2019-11-13 15:57] stefanbauer commented on #344
I am not sure, but I guess this may be closed. It should be solved on the new `dev-master` @calebporzio. Same error message was here #297

[2019-11-13 16:48] calebporzio commented on #344
yep, someone can re-open if this is not the case, but should be.

[2019-11-13 16:48] #344 closed

[2019-11-13 19:07] wsamoht commented on #319
@calebporzio I like this solution! I haven't played with it too much but here are a few notes so far.

`validateOnly` doesn't work when validating an array because where you have `Arr::only($rules, $field)` field `items.0.name` doesn't match `items.*.name`.

With what @stefanbauer about real-time validation with required fields (#1), I believe this is because nothing changed so Livewire isn't doin

[2019-11-13 19:34] shadoWalker89 opened #366 "Confirm actions"
Hi,
I want to show a confirmation modal before performing dangerous actions like deleting something ...
I think currently this is not possible right now.
Is there a way to do this without making a server request ?

[2019-11-13 21:26] calebporzio commented on #363
Ok, good call. Just added these two methods:

`$this->assertHasErrors()` and `$this->assertHasNoErrors()`

The usage is best demonstrated in the following test method you can find in (`tests/LivewireTestingTest.php`)

[code]
and
[code]

[2019-11-13 21:27] calebporzio commented on #363
These methods are only on `dev-master` right now, will tag within a day or two.

[2019-11-13 21:28] roni-estein commented on #319
I think this might be more of a docs thing than anything else at the moment. I'm not saying that revisiting this wouldn't be a good idea at some point, and perhaps taking advantage if using some wire:form or other clever implementation. But right now, anything is more or less achievable if you code around the system. So for example, if I want this to act like laravel, I can ignore calls unless the

[2019-11-13 21:34] roni-estein commented on #363
Thanks! I think the problem is it's so easy to test right now visually that I'm deferring to it. But I hate coding without tests. Are there any contributions that we can do to help you? Docs? For example, are you a better editor than writer or awesome at both?

Some of us can generate some rough docs for this with examples to boot and submit them for you to edit. This might make doc creation a bit

[2019-11-13 21:39] calebporzio commented on #363
Thanks a ton @roni-estein! The most helpful thing for me is triaging issues and commenting, fixing, closing them.

I think for this feature, I'm going to handle the docs because I have kind of a specific vision for them, but typically I'd say YES!

Thanks for being so willing to pitch in!

[2019-11-13 21:39] #363 closed

[2019-11-14 07:08] cihantas commented on #358
Works. 👌

I'll see if I can add anything in the future regarding 1. and 2., but until then we can close the issue.

As always, thanks a lot for your hard work! I'm glad we were able to solve this issue.

[2019-11-14 07:08] #358 closed

[2019-11-14 08:01] shadoWalker89 opened #367 "Loading with a target doesn't work as it should"
**Describe the bug**
There is a problem is showing a loading indicator with a target when the button that triggers the actions contains a font icon.
If the button click is not over the icon the loading indicator show and only for the first time i use the button.
If the click is over the button it does not work not the first time not after.

**To Reproduce**
Over here i'm using a font awesome icon

[2019-11-14 12:30] shadoWalker89 commented on #366
I was thinking if livewire could trigger some client actions, this is some pseudo code of how i imagine it ...

[code]

[2019-11-14 14:41] fra000 commented on #366
Hi, in your button put this:

`<button onclick="confirm('Confirm delete?') || event.stopImmediatePropagation()" wire:click...>Delete</button>`.

This works for me.

[2019-11-14 14:52] shadoWalker89 commented on #366
Problem is that i'm not using confirm() in my real code. I just used it to in the pseudo code to explain my self.
What would work is `onclick="someFunction()"` and
[code]
The only problem i see it now is how can i trigger the action on the server, maybe caleb should add a new special action `$trigger('serverMethod')`

[2019-11-14 14:56] calebporzio commented on #366
@shadoWalker89, if you do that `someFunction` thing. You can call a server method like so:
[code]

It's documented in the "Inline Scripts" section of the docs.

https://laravel-livewire.com/docs/inline-scripts/

[2019-11-14 15:03] shadoWalker89 commented on #366
Thanks to both of you guys.
This works perfect, the only problem now is that the wire:loading using a target does not work any more.

[2019-11-14 15:11] kverstae opened #368 "Livewire component as row in table 'TypeError: this.el is null'"
**Describe the bug**
When using a livewire component for each row in a table (`<tr>` is the root of the template), interactivity is not working as expected.
When clicking any of the buttons, you get the error `this.el is null` in the console and elements of the component disappear.
When adding a `<div>` to surround the template, errors are gone, but the buttons have no effect

**To Reproduce**

Qu

[2019-11-14 17:02] calebporzio commented on #366
Aaah, good point. I've been considering making tergets reference actions instead of refs, this is a good case for that.

[2019-11-14 19:15] shadoWalker89 commented on #368
I have something like this but instead if using a component I'm using a simple include to another blade file

[2019-11-15 08:43] kverstae commented on #368
I don't quite understand what you mean by including another blade template.
I still want it to be dynamic, without using JS in the frontend.

[2019-11-15 11:55] 2kodes commented on #368
@kverstae
maybe you could refer to [this portion of the docs](https://laravel-livewire.com/docs/nesting-components/#keyed-components) and try adding a key to the component as its done...I think using a key will fix your issue

[2019-11-15 13:20] shadoWalker89 commented on #368
@kverstae Sorry i thought the table it self is a livewire component and each row is a livewire component.

What i meant in my previous comment is that if you are trying to only organize your code then use an @include('row') instead of making it a livewire component @livewire('row')

But this doesn't apply since in your case you want the row to be a component.
I think you should try what @2kodes sa

[2019-11-15 16:48] kverstae commented on #368
@2kodes I found this just after posting the issue, but even adding `key()` doesn't solve the issue.

I found some other things, not sure if normal or a part of the problem here.
When using `<tr>` as root element of the object, the rest of the component stays nested within these tags when inspecting source of the page. This means you get something like this, which seems normal.
[code]
When nesting

[2019-11-15 20:38] roni-estein commented on #368
I’m just on my cell in a oarkade checking mail but this popped up. I wanted to verify it’s not key() but wire:key, you can find it by searching for key in closed issues. I think Caleb was changing that in the docs and it may not yet be updated. Hope this helps!

[2019-11-15 23:39] kverstae commented on #368
@roni-estein
Thanks for the tip, but I don't think this is what I need (atleast it doesn't fix the issue, or I am doing something wrong here)
I added the key to the root element, as you would do in vue, and also tried to add the key to the buttons. Am I supposed to put this key somewhere else?

[2019-11-16 09:06] shadoWalker89 opened #369 "wire:loading not working with multiple wire:ref with same value"
**Describe the bug**
I have mutliple nodes using the same `wire:ref="session-loader"` and then use that ref on a `wire:target`
The loading div shows up only on the first interaction, after that it never shows.

**To Reproduce**
[code]

**Expected behavior**
Each time i interact with the nodes with wire:ref="session-loader" the loading div should appear

**Desktop (please complete the following inf

[2019-11-16 11:37] kverstae commented on #368
I think this is related to (if not the same as) #36
The issue can be solved by using DIVs, but layout of these is more of a hassle than using TABLE.

This issue can be closed if it is indeed the same as the other issue

[2019-11-16 15:21] phoogkamer opened #370 "SPA mode/Turbolinks redirects"
Currently livewire performs a js redirect whenever a RedirectResponse is returned from the component, but if I understand correctly for Turbolinks to play nice with those you have to use Turbolinks.visit().

Is there a way to make Livewire perform this to have a real 'SPA-like' experience? Most of my Livewire forms redirect when they complete so this is quite a large part of my application.

[2019-11-16 17:11] roni-estein commented on #368
I won’t have time to look at this from an avtual laptop until Monday but if it’s still open and there is a sample project I can clone and look at I’ll give it a go.

[2019-11-16 21:09] kverstae commented on #368
So i started creating the sample project but failed to replicate the issues at first.

Upon further inspection, I found that importing Vue was causing the issues. When adding Vue to the project and loading it as described in the livewire docs (`window.Vue = require('vue'))` and issue #67, the `TypeError: this.el is null` returns.

You can clone a sample project from https://github.com/kverstae/liv

[2019-11-16 22:08] yashiroiori opened #371 "Bug into select with values like 01"
**Describe the bug**
When a select use this values:
"01":"01 - Efectivo",
"02":"02 - Cheque nominativo",
"03":"03 - Transferencia electrónica de fondos",
"04":"04 - Tarjeta de crédito",
"05":"05 - Monedero electrónico",
"06":"06 - Dinero electrónico",
"08":"08 - Vales de despensa",
"12":"12 - Dación en pago",

![image](https://user-images.githubusercontent.com/17031855/68999795-6f5c0780-088b-11ea-

[2019-11-17 02:15] roni-estein commented on #368
I can check it out, but did it work when you didn’t have Vue installed?

[2019-11-17 09:40] phoogkamer commented on #370
For now I used a workaround where I emit a 'redirect' event from the component with the url.

Then I just added this:
[code]

[2019-11-17 10:55] joseaneto commented on #350
Hi!

The same thing happens to me, checked with Firefox and Chrome.

When you use the “back” or “forward" option of the browser, the "protected" variables are null.

An example:

- A Livewire component receives an Eloquent model that is stored in a protected variable using the mount() function.
- Navigate to a different path and go back or forward with the browser buttons, the value of the "protec

[2019-11-17 14:04] coryrose1 commented on #352
Pagination was failing because the custom LivewireModelTable component wasn't using `parent::__construct($this->id);` for the base Livewire component.

Going to mark as closed :)

[2019-11-17 14:04] #352 closed

[2019-11-19 00:27] calebporzio commented on #350
Ah shoot, that makes sense. Here's what's happening:

* Visit page
* Component is loaded and mounted with fresh id
* Leave page
* Revisit cached page (hit back button)
* Component with stale id is initialized in JavaScript

Everything works fine in components with only public properties (although the browser doesn't retain any state (it resets to the initial state)). HOWEVER, components with prote

[2019-11-19 00:29] calebporzio commented on #370
Ah yes, that makes sense.

It certainly would be fairly simple to detect if the page is using Turbolinks, and do the redirection that way.

I'm open to a PR like this.

Although, something like this may be better served as a plugin. But because I recommend Turbolinks in the Docs, this seems like a good solution for now.

[2019-11-19 11:32] shadoWalker89 opened #372 "Livewire null parameter bug"
**Describe the bug**
[code]

When i call it like this

[code]

I get `null` for both arguments `$user` and `$options`

When i call it like this

[code]

I get `empty string` for `$user` and `['mode' => 'planner']` for `$options`

If i remove the default null from `Foo::mount()` on the `$user`

[code]

And then call

[code]

I'll get correct values `null` for `$user` and `['mode' => 'planner']` for

[2019-11-19 13:43] calebporzio commented on #372
Gotcha, looks like an issue that wouldn't be too hard to fix. Would love A PR with tests

[2019-11-19 19:30] jacobsmith opened #373 "Re-introduce Component Hydrator"
**Is your feature request related to a problem? Please describe.**
I have a Livewire component that allows sorting, filtering, showing and hiding columns, etc. I also need to be able to download a CSV of the current state of the component.

**Describe the solution you'd like**

My current solution for this involves creating a snapshot of the `id`, `name`, `data`, and `checksum` of the Livewire com

[2019-11-19 23:34] shadoWalker89 commented on #372
### Bug explanation
So this is what i found.
To resolve the dependencies you are using `resolveClassMethodDependencies()` of the following trait `Illuminate\Routing\RouteDependencyResolverTrait` from laravel framework. Now this method is then calling another method `resolveMethodDependencies()` on the same trait which contains the actual logic of resolving the parameters.

Let's assume i'm calling

[2019-11-20 16:03] johnnyfreeman commented on #368
I'm running into this same `this.el is null` issue too. I don't have Vue installed (`window.Vue is undefined`).

In my case it's for a custom multi-select component where options initially load via `Model::all()` and then are replaced by search results from Scout. For me it happens when I select something initially and then try to search.

I've tried:

* not using `wire:key`
* using `wire:key="{{

[2019-11-20 16:45] johnnyfreeman commented on #368
If I jump through the callstack. The issue seems to be here:

[code]

In this case it's trying to find the closest ancestor with "wire:id", which is the root component node, and can't for some reason. Although, if I run the same thing in the console, it finds it.

You can test this yourself by clicking on whatever `this.el` references in the code above in the inspector window. Then switch over to

[2019-11-20 18:01] calebporzio commented on #372
Yeah, I'm down with option 3. Thanks for such a thorough explanation.

[2019-11-21 12:00] andonovn commented on #370
@phoogkamer Are you going for the PR? If not, I'd love to take over that.

[2019-11-21 13:12] kverstae commented on #368
@johnnyfreeman This is not the same thing I am experiencing. My problem was related to a conflict between vue and livewire.

I just fixed this issue by moving the `<div>` where Vue binds on. Originally it was the root element of my complete page. By moving it just around the custom vue component, all issues were resolved.

[2019-11-21 13:12] #368 closed

[2019-11-21 23:51] eckelarsson opened #375 "Validation rule confirmed bug"
**Describe the bug**
Just wiped up a simple registration form with password confirmation,
Added the validation rule "confirmed" and have the two fields "password" and "password_confirmation", when running real-time validation it doesn't match those two fields.

Switched to the rule "same:password_confirmation" and that rule works fine.

**Expected behavior**
The confirmed fields should match when

[2019-11-22 15:09] faustbrian opened #376 "Cannot read property 'receiveMessage' of undefined"
Hey, finally had some time again to jump back into Livewire but ran into an odd issue with forms. Seems to happen in old applications and also a completely fresh Laravel installation.

[code]

[code]

When placing some console logs the issue becomes more clear.

[code]

The `componentsById` property is empty so `findComponent` returns undefined. The questions is why it is undefined.

To rule out a

[2019-11-22 16:21] faustbrian commented on #376
Did some testing with the example from the docs and the issue seems to only occur when a form is using `wire:submit`.

If I place a button outside the form with `wire:click` it will call the method, the `$errors` variable is no longer empty, all errors are shown and the component is working as intended.

[code]

[2019-11-22 16:29] #376 closed

[2019-11-26 11:13] phoogkamer commented on #370
@andonovn Feel free. I would do it, but I'm time constrained at the moment. Let me know how it goes!

[2019-11-26 12:59] dylanmichaelryan opened #377 "Object of class Illuminate\Support\Fluent could not be converted to string after update"
Hey,

after updating from v0.3.19 to v.0.3.21 i get this error on every site

[code]

[2019-11-26 13:00] dylanmichaelryan opened #378 "Cannot redirect from mount method"
Hey,

i try to  redirect from mount method but it is not working

[code]

[2019-11-26 13:00] dylanmichaelryan commented on #378
[code]

is not workingeither

[2019-11-26 13:09] dylanmichaelryan commented on #377
after clearing cache etc everything seems to work fine

[2019-11-26 13:09] #377 closed

[2019-11-26 13:19] dylanmichaelryan commented on #243
Still not working for me

[2019-11-26 17:47] gjm opened #379 "Allow components in any location"
**Is your feature request related to a problem? Please describe.**
Right now all Livewire compoments must reside under `App\Livewire` (or some other root namespace). My has namespaces according do DDD domains and I would like to place related components under the correct namespace.

**Describe the solution you'd like**
It would be great if we can somehow register components in arbitrary locations:

[2019-11-26 17:56] gjm opened #380 "Dependency injection"
**Is your feature request related to a problem? Please describe.**
The only way to have dependencies inside components right now is to `new` tem up directly ou resolve them of the container.

If I want to follow the dependency injection approach to get required dependencies I can't do it with Livewire..

**Describe the solution you'd like**
My suggestion is to be able to inject in the `mount` meth

[2019-11-26 22:19] calebporzio commented on #378
Thanks for the heads up. This is fixed on the master branch. Will be available in the next tagged release.

[2019-11-26 22:19] #378 closed

[2019-11-26 22:20] calebporzio commented on #377
Yeah, I believe `artisan view:clear` is the fix

[2019-11-26 22:22] calebporzio commented on #376
@faustbrian - is this resolved? Why did you close it?

Also, no... not yet. Thanks for checking in though!

[2019-11-27 16:36] eckelarsson opened #381 "Testing with prop $name conflict with Livewire\Testing\TestableLivewire name prop"
**Describe the bug**
[code]

**Unit test output**
[code]

[code]

**Expected behavior**
It should collect the name prop from the data object of Livewire\Testing\TestableLivewire

[code]

[2019-11-27 16:43] eckelarsson commented on #381
Forgot to write that you can ofc use the  $form->get('name') to collect from the data array, bu.. it's a common prop "name", so I think it will be beneficial to not have this conflict.

[2019-11-27 19:17] lucasromanojf opened #382 "Livewire does not work on Vapor environments"
**Describe the bug**

*First issue:*

Livewire throws an error when used on Vapor environments. The error details can be seen here:

https://flareapp.io/share/KPgnkJma#F63

This happens because Livewire's manifest path points to "<app_root>/bootstrap/cache/livewire-components.php" but Vapor uses "/tmp/storage/bootstrap/cache".

*Second issue:*

Vapor assets are uploaded to S3 and served using Clou

[2019-11-27 23:42] booni3 opened #383 "Loading across multiple components. Might be a duplicate of #47"
As in #47 , when one component on a page is loading it triggers all others of the same type into loading also. This was supposedly fixed in v0.1 so I am unsure if this has come back or is a different issue.

My use case is in a foreach within a table

[code]

If I move the row out to its own component, then all works as expected... but I hope this is an unnecessary step.
[code]

![Kapture 2019-11-

[2019-11-28 09:41] Namoshek opened #384 "Target class [view.engine.resolver] does not exist."
**Describe the bug**
When installing Livewire, the `php artisan package:discover` post-dump composer task fails with the error message:

**To Reproduce**
Steps to reproduce the behavior:
Install Livewire with `composer require livewire/livewire`.

**Expected behavior**
The installation is successful.

**Additional context**
It is possible that this behavior has to do with me using a custom `ViewSe

[2019-11-28 15:47] calebporzio commented on #382
Thanks for reporting this.

Do you feal capable of PRing fixes for this? It would be a big help.

[2019-11-28 15:49] calebporzio commented on #384
Yeah, I think you understand the problem exactly. Also, thanks for providing the work-around.

I'd love to hear your thoughts on a solution, and would welcome a PR!

[2019-11-28 15:51] lucasromanojf commented on #382
Hey Caleb, sure, if my suggestions are OK, I can do them and submit a PR.

[2019-11-28 15:53] calebporzio commented on #381
Yeah, I agree. `$name` is common enough, we should avoid it.

I actually think we moved to a strategy that doesn't use a property (the $this->getName() method).

But clearly there is still something using it. Do you feel capable of digging in a little and PRing this?

I'm happy to jump on a Zoom call to help you.

[2019-11-28 16:40] Namoshek commented on #384
As long as the service (or the custom blade compiler) which is being registered there is not used within the `boot()` method, there shouldn't be an issue when moving the method call to `allowCertainExceptionsToBypassTheBladeViewHandler()` into the `boot()` method. I did so locally and had no issue on a fresh installation, but that doesn't have to say anything. But as said, one shouldn't (have to)

[2019-11-29 00:26] booni3 commented on #383
Just to add some more detail;

- The wire:target ref does work (only the 1 "Loading..." div shows.
- All of the buttons are set to "btn-danger" when clicking any button

[code]
[code]

If I move the button into its own sub-component, then it all works OK. i.e. only the 1 button shows the loading state.

[2019-11-30 11:50] booni3 commented on #383
Mystery solved, I think.

After trying to "fix" the code, I realised that you can actually add the `wire:target="button{{ $row->id }}"` tag to the same button that is triggering the load.

[code]

![Kapture 2019-11-30 at 11 49 44](https://user-images.githubusercontent.com/20134485/69900108-9b858700-1367-11ea-8308-d20dbd3107cf.gif)

[2019-11-30 11:50] #383 closed

[2019-11-30 14:49] dylanmichaelryan opened #386 "Weglot Integration"
**Describe the bug**
I was trying to include weglot (https://weglot.com) to my livewire project and ran into some issues

**To Reproduce**
Steps to reproduce the behavior:
1. Include weglot
2. Make for example a table where you can filter and paginate

**Expected behavior**
everything should be translated but instead if i paginate to the second page the text loaded through livewire isnt translated

[2019-11-30 14:51] dylanmichaelryan commented on #386
Actually i something is rerenderd the texts aren't translated anymore, so for example if i set a filter in my table and the whole things rerenders, the text wont be translated anymore

[2019-12-01 23:00] calebporzio commented on #386
Hey @dylanmichaelryan, this makes sense if Weglot has no built-in way to detect DOM changes and keep things translated. If there is an API for this, you can use the following Livewire hook to run a sort of "refresh" on Weglot:

[code]

Going to close this for now. If you get something working, please follow up with the solution here.

Thanks!

[2019-12-01 23:00] #386 closed

[2019-12-01 23:45] booni3 opened #387 "Linked loading states on long running scripts. Multiple vs. single components"
I am unsure if this is a bug, a limitation within system, or something I have missed...

Below I have 2 ways of inserting 3 counters onto a page. In each case, there is a 1 second sleep on the increment function to simulate a long running script.

You can see from the animations that when we add multiple counters to the page in the same component there is a significant lag on the 3rd counter showi

[2019-12-03 04:16] kurucu commented on #350
Is there a clean way to design around it? Or, perhaps provide utilities like `<div wire:stale>`  and `<div:wire:fresh>` to allow for detection in the UI and appropriate commands to be provided.

Alternatively, move temporary storage on the server side from the session to the cache; allow serialisation like laravel queues does with models? [See here.](https://laravel.com/docs/5.8/queues)

[2019-12-03 04:17] harrysbaraini commented on #379
https://github.com/livewire/livewire/issues/306#issuecomment-537166211

[2019-12-03 05:16] faustbrian opened #388 "Vue component disappearing after rerender"
I am currently working on a component that lets the user manage their subscription to subscribe, update, resume and cancel. There is a single Vue component included in the Livewire component and a toggle to switch between billing intervals. The Vue component is rendered initially but consecutive renders happen without that component.

**Initial Render**
<img width="694" alt="Screenshot 2019-12-03

[2019-12-03 05:46] faustbrian commented on #388
I eventually settled with the below as it feels the least hacky. @calebporzio would that be the recommended way of triggering some JavaScript from within the PHP portion of the component?

[code]

[code]

As commented above in the JavaScript code, the `window.livewire` variable seems to be unavailable before components are rendered. I would've expected that value to be defined if you register `@li

[2019-12-03 06:10] bedus-creation opened #389 "Livewire\Exceptions\ComponentNotFoundException"
I tried to change the default components directory, It couldn't resolve the components.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the config
[code]
2. This is my components class
App\Domain\Settings\Components\PostIndex
3.
[code]
4. It says Components not found

[2019-12-03 06:14] bedus-creation commented on #389
Same problem with view_path components
**To Reproduce**
1. change the default view_path
[code]
2. I have livewire components in this directory
[code]
3. And I couldn't access
[code]

[2019-12-03 06:35] shadoWalker89 commented on #384
I touched upon that in my comment in this PR I made https://github.com/livewire/livewire/pull/364 and in the PR I'm already adding the override necessary in the boot method, like I said in the comment if my PR is merged it's better to move the logic in the register method to the new CompilerEngine added by the PR.

[2019-12-03 11:50] skinnydesign opened #390 "Form Validation"
Hey all,

I have an issue with form validation and wondered if you could help.

So, I have a master component (form) that loads sub components (inputs) inside of it. The only way that I have been able to get to get validation to work is to create events on each sub component that will run the validation on that component then report back to the master component that it has or hasn't passed validat

[2019-12-04 11:02] panda-madness opened #391 "Add global helper function for Livewire components"
**Is your feature request related to a problem? Please describe.**
Currently you need to use the `@livewire` blade directive to output components. Since it's a custom directive it is basically treated as a string in any IDE, and thus you don't get any help when you're working with real PHP variables.

**Describe the solution you'd like**
A simple global helper function which does the same thing as

[2019-12-04 18:35] bgarrison25 commented on #163
I know this is closed but I was considering the exact same thing. Those are some good reasons and I think its a really great idea. I'm really looking forward to what you guys do with this.

[2019-12-04 18:37] davidpiesse commented on #163
I can see a next step that goes towards project-x in a web component thing that Livewire can tap into as well..

[2019-12-05 09:40] depsimon opened #392 "Use $emit outside a Livewire component"
**Describe the bug**

Here's my layout file.

[code]

When I click on the first button, it does trigger the event.
When I click on the second button, it does not.

However, if I were to move the second button to a Livewire component, the event is triggered.

Is it not possible to use `$emit` outside of a Livewire component?

**Additional context**
Using `"livewire/livewire": "^0.4.0`

[2019-12-05 14:30] chrypro commented on #217
I am actually having the same problem with both debugbar and telescope toolbars.

None of them is showing up on pages that use Livewire. (any other routes are showing the toolbars fine)

The page is using Route::livewire() method but other than that the page is really simple. (I am just testing livewire at this point)

Will keep debugging.

[2019-12-05 17:47] chrypro commented on #217
After some debugging I found the problem to be here: https://github.com/barryvdh/laravel-debugbar/blob/master/src/DataCollector/RouteCollector.php#L61

In the case of a livewire page the value of `$action['controller']` is a closure.

Adding an additional check `is_string($action['controller'])`  in the if statement "solves" the problem and the debugbar shows up

[2019-12-05 18:29] calebporzio commented on #217
@chrypro - is this something you could PR to the project?

[2019-12-05 18:31] calebporzio commented on #392
Hi @depsimon - that's correct. Livewire directives only work inside Livewire components. This way Livewire doesn't take over your entire front-end (only as much as you want it to).

Your `onclick=""` approach would be the best way, and should work just fine.

[2019-12-05 18:31] #392 closed

[2019-12-05 18:35] calebporzio commented on #163
Please explain your grand vision Mr. Piesse (@davidpiesse). I must know.

[2019-12-05 18:40] calebporzio commented on #391
That's a good idea.

Unfortunately, it kind of has to be a blade directive, for specific reasons: the directive needs access to the variables inside the current  view's scope.

If you care to understand more, take a look at the `livewire()` method in this class: `src/LivewireBladeDirectives.php`

[2019-12-05 18:40] #391 closed

[2019-12-05 18:45] calebporzio commented on #390
I would suggest putting your inputs in Blade components (not livewire components) and keeping everything in one master component so you can easily bind to the data and what not.

Otherwise you have to do some event emision like you're doing to get what you need done.

You could emit an event from the input child called "updateFoo" (assume the input's name is foo) - and listen for that on the maste

[2019-12-05 18:45] #390 closed

[2019-12-06 10:07] davidpiesse commented on #163
Well I just spent 20 mins writing a response, and just deleted it!

My idea has some/many holes that need thinking/ mulling / some river time to consider.

Some parts are no brainers (using project-x to replace a lot of the Livewire JS code) but the component-izing of a Livewire component isn't there yet...

🤔🤔🤔

[2019-12-06 17:21] faustbrian opened #393 "`render` via listeners results in NonPublicComponentMethodCall"
Prior to 0.5.0 it was possible to omit the `render` method from a component and use it for a listener. After 0.5.0 the `render` method has to be defined, which is somewhat inconvenient if you're not doing anything with the view other than rendering it.

**Before**
[code]

**After**
[code]

@calebporzio is this a regression and could be caused by components now being macroable or is this an intende

[2019-12-06 19:14] calebporzio commented on #393
Interresting, that surprises me that it worked before. Will investigate. Thanks for the clear example.

[2019-12-06 19:14] calebporzio commented on #393
Long shot, but by any chance to you want to hop on a zoom call to screenshare and figure it out? If so, email me @ calebporzio@gmail.com or twitter DM me

[2019-12-06 21:20] calebporzio commented on #393
I just put my local down to 0.4.0 and am getting that same error you are describing.

Like I suspected, calling "render" from a listener without a render function defined on the model itself didn't work even before this new release.

The recommended way to acheive what you want would be:

[code]

I confirmed that the above works without a render function.

If you don't like the different syntax, a

[2019-12-06 21:20] #393 closed

[2019-12-06 21:22] calebporzio commented on #163
Ah yes, I definitely think there is something there too, just don't see it quite yet.

Definitely put some river time in and get back to me!

[2019-12-06 21:24] calebporzio commented on #379
Thanks @harrysbaraini, I believe you are correct. Here would be the way to do what you want to do:

[code]

Closing for now. This should probably be documented if anyone cares to give it a go!

[2019-12-06 21:24] #379 closed

[2019-12-06 21:26] calebporzio commented on #350
Hey @kurucu, so I have been doing A LOT of thinking about this problem. You can find the solution I've chosen to go with outlined here: https://forum.laravel-livewire.com/t/help-me-solve-the-hardest-problem-in-livewire-and-maybe-the-entire-world/22/32

For now, I'm moving away from the direction of automatically caching things.

I'm still open to feedback on it though, there are no easy solutions

[2019-12-06 21:26] #350 closed

[2019-12-06 21:38] calebporzio commented on #387
Yes, this actually makes sense, and I think this is a side effect of the way livewire fundamentally works.

Component's update their data and perform logic on the server side. Ther can only be ONE request at any given time so there are no collisions are state management issues or anything. What you are hoping for is a single component that knows how to handle multiple updates in parralel.

You are

[2019-12-06 21:38] #387 closed

[2019-12-06 21:43] calebporzio commented on #369
Loading has been changed in the latest release, here is the new way to accomplish that:
[code]

Or if the click actions are different, then:
[code]

[2019-12-06 21:43] #369 closed

[2019-12-06 21:45] calebporzio commented on #367
This should be fixed as the loading system no longer uses `wire:ref`s, the `wire:target` now targets Livewire actions instead.

Closing this for now. Re-open if I've mis-understood.

Thanks!

(Here's what that code example would be):
[code]

[2019-12-06 21:45] #367 closed

[2019-12-07 03:16] faustbrian commented on #393
I'll have a look next week and submit a PR when I get a chance :+1:

Do you think adding a note about how to rerender other components via events to the docs would be a good thing? Seems like a common use-case.

[2019-12-07 11:52] booni3 commented on #393
Interested in this... I am wondering if I have a similar issue here or if my implementation is wrong?

[code]

Blade emitting event
[code]

inside parent component
[code]

I understand that child components are not reactive, but thought then when events were used then they would update. I can see the render method being fired but the DOM is not updated.

This issue seems to suggest that calling th

[2019-12-07 13:42] HenkMaller commented on #389
Did you run the `livewire:discover` command?

[2019-12-07 16:29] booni3 opened #395 "Live Wire Nested <th> table cell causes unexpected behaviour or JS to crash"
I started off trying to make a table header cell (`<th>`) nested component that would allow sorting and set sorted class/styles.

With almost all methods I have tried the back end logic seems to work.

However, on the front end nothing is working as expected.

## Goal

For this test, my aim is to simply be able to click the `<th>` table cell and toggle the visible text between 'asc' and 'desc' on

[2019-12-07 16:31] booni3 commented on #387
@calebporzio Thanks for the update. That all makes sense. I expected as much it was a side effect of the system but just wanted to make sure.

Thanks for all your hard work on this!

[2019-12-07 17:25] booni3 commented on #395
Appears this is probably linked to #36 and table tags being very awkward within browsers.

Would a `<template>` tag similar to Vue get around this?

[2019-12-07 19:32] matsava opened #399 "A way to update the url"
**Is your feature request related to a problem? Please describe.**
I am building a dummy eshop to play with Livewire.

The category page has some filters which I hope I can sync to the url. When visiting a category (e.g. `/category/phones?manufacturer=Apple`) the "Apple" manufacturer will be selected automatically.

This is handled by my code inside the `mount` method.

What I actually want to do

[2019-12-08 07:46] faustbrian commented on #381
This seems to be only testing related because Livewire will assign `Str::random(20)` as a component name when tests are run.

[2019-12-08 09:06] chrypro commented on #399
For now I just did the following:

Emit an event that the url should change based on your conditions.
[code]
Listen for the event.
[code]

Feel free to close this feature request @calebporzio if there is no plan on adding it to the core.

[2019-12-08 09:07] chrypro commented on #399
For now I just did the following:

Emit an event that the url should change based on your conditions.
[code]
Listen for the event.
[code]

Feel free to close this feature request @calebporzio if there is no plan on adding it to the core.

[2019-12-09 03:39] mokhosh opened #402 "Loading state not working when using ref & target"
**Describe the bug**
Loading state works for all buttons when I don't use ref and target, and doesn't work for any of them when I do.

**To Reproduce**
[code]

**Expected behavior**
See spinner for the button you clicked on.

**Desktop (please complete the following information):**
 - Windows 10
 - Chrome latest version

[2019-12-09 12:55] cosmicvibes commented on #360
I also have this problem. I have worked around it by pass the variables into the view on the livewire component render method.

[2019-12-09 15:42] shadoWalker89 commented on #384
caleb moved that code to the compiler engine class, if possible, can you check that your problem was resolved ?

[2019-12-09 15:52] adrianschubek commented on #402
`wire:ref` has been removed in [v0.5](https://github.com/livewire/livewire/releases/tag/v0.5.0)

[2019-12-09 17:27] mokhosh commented on #402
Oh thanks, I forgot I red that in the release notes.

So, is there any way I can set loading on a specific button in the loop?
If I use the action (`addToCart`) all buttons will show the loading spinner while any item is being added to the cart.

[2019-12-09 18:25] Namoshek commented on #384
Looks resolved to me:
[code]

Thanks for handling it!

[2019-12-09 19:54] calebporzio commented on #384
Great. np!

[2019-12-09 19:56] calebporzio commented on #402
Hey @mokhosh - that's a good call. Wondering what the best solution here is.

Thinking it'd be something like this:

A) `wire:target="addToCart"` would scope to all "addToCart" actions
B) `wire:target="addToCart({{ $product->id }})"` would scope to "addToCart" with the productId parameter.

What do you think?

[2019-12-09 23:01] snapey opened #403 "Is there a method to halt polling ?"
I'm successfully using Livewire to monitor the status of some jobs which process input and post to a third party API.  The livewire component reports the real time progression of a number of these task that were all submitted via CSV file(s).

Because the tasks don't actually take that long, I would like sub-second polling.

Sooner or later, all the 'jobs' are complete and I would like to halt pol

[2019-12-10 03:11] mokhosh commented on #402
Although it seems weird to include parameters as target, and something tells me we're breaking SOLID or DRY or some other set of rules somehow, I think we need to do this.

Firstly, because for some reason it seems like the obvious solution, and it was the only solution I thought I could try after I remembered there are no `ref`s in 0.5.
And more importantly, this doesn't work now:
[code]
I guess

[2019-12-10 06:50] erikscheepers opened #404 "Error during composer update to version 0.5.0"
**Describe the bug**
In one of my larger Livewire-projects I get an error during the postAutoLoadDump-phase of composer update. The only thing composer tries to do, is updating Livewire from 0.4.0 to version 0.5.0. In another, smaller, project the updating went without any issues.

**To Reproduce**
Bit difficult maybe to reproduce because updating my smaller project went without any issues. Any su

[2019-12-10 07:42] mikev032 commented on #404
https://laracasts.com/discuss/channels/laravel/upgrade-to-58-class-bladecompiler-does-not-exist ?

[2019-12-10 10:08] mokhosh commented on #402
What I did for now is I extracted items to a `ProductItem` component which holds its `productId` and doesn't need an attribute for its `addToCart` method.

But my biggest concern is efficiency.
I'm loading products in my main layout. And passing each product's Id to a component in a foreach loop.
Then in each component I store the Id and `find` the product from the database individually and every

[2019-12-10 11:11] mokhosh commented on #402
OK, I changed the code to stop loading each model from the db individually. I pass the `product` and assign each of its attributes to a public property of my component.
But it's really hideous to assign like 12 properties in the `mount` method.

[2019-12-10 11:47] mokhosh opened #405 "Opt-in to have all public properties automatically passed to view?"
I understand the concern that led to removing automatic passing of public properties to views. You don't want us to be confused about when to use `$this->` and when to address a variable directly. That's ok, but it would be awesome to be able to get back that functionality if we're not easily confused, and we miss the good old days where "you would just name what you want and feel like you're writ

[2019-12-10 14:37] calebporzio commented on #405
Your wish is my command:
[code]

(will be available in the next tagged release.)

[2019-12-10 14:37] #405 closed

[2019-12-10 14:46] calebporzio commented on #402
Ok, there's a lot of good stuff here.

1. Good catch on that bug (where `wire:click="foo('bar')" wire:loading.attr="disabled"` doesn't work). I fixed that, and it'll be available in `0.5.1` (which I will tag soon)
2. I still think the proper solution is to offer the ability to scope targets by param. Why do you think this seems wrong? It seems like a necessary feature. AND it allows you not have t

[2019-12-10 14:46] bbcreation commented on #370
phoogkamer  I have the same problem. Can you show me how you solved it specifically? I'm fresh in Livewire.

[2019-12-10 14:50] calebporzio commented on #404
Yeah, hmm - There's method in Livewire's service provider called: `registerViewCompilerEngine`, in the `boot()` method. This method registers Livewire's own blade engine, and references `$this->app['blade.compiler']`.

For some reason, in your app, `blade.compiler` isn't available yet when Livewire tries to do that.

If I had to guess, it's that you have another composer package installed that mes

[2019-12-10 14:52] eckelarsson commented on #381
Sorry for the late answer @calebporzio, and thanks for the support on helping to try to do it. Seams that @faustbrian found a nifty solution for this, great job!

[2019-12-10 14:52] calebporzio commented on #360
Sorry, I'm confused. Mind giving a more full explanation with code pasted in? Thanks.

[2019-12-10 14:58] calebporzio commented on #381
Ah yes, the solution here is:

`$component->assertSet('name', 'testing-name')` rather than calling `$component->name` and `$this->assertEquals`.

[2019-12-10 14:58] #381 closed

[2019-12-10 15:01] calebporzio commented on #381
Also, I merged that PR, so either will work.

[2019-12-10 15:14] erikscheepers commented on #404
It's strange that the error only shows when updating the livewire version. I did some more debugging and testing and found the cause:

I put my Blade directives in the register method of the AppServiceProvider. In the Laravel documentation boot is the lower and register the upper method. In my old version of this file (started this project in version 5.8), I didn't notice the [swap](https://github

[2019-12-10 15:14] #404 closed

[2019-12-10 15:15] faustbrian commented on #177
@calebporzio would this be something that is wanted/needed?

[2019-12-10 15:17] faustbrian commented on #56
@calebporzio this can probably be closed since 0.5.0 now supports computed properties.

[2019-12-10 15:19] faustbrian commented on #70
@rodrigore does still happen for you with the latest version?

[2019-12-10 15:20] faustbrian commented on #221
@calebporzio any update on ways of supporting the development?

[2019-12-10 15:40] google-mac commented on #56
I agree. Sweet deal!

[2019-12-10 15:40] #56 closed

[2019-12-10 17:14] rodrigore commented on #70
It doesn't, now the error doesn't disappear but I notice that if I make the next step:
* Click the submit button
* Livewire show all the errors message
* Focus on the first input and write something
* When I lose the focus of the input, livewire trigger an ajax request but the errors are still present
* But if I click the submit button again, livewire send the same ajax request but the errors disa

[2019-12-10 18:14] mokhosh commented on #402
I'm not sure, but I guess I'm used to designing and treating everything as a black box: Don't expose your data, don't sneak peek at other people's data. It felt like we're sniffing the parameters of a method to decide something.
Also, if we try to be exact here, what exactly is the `loading` element awaiting? a method? a method with specific parameters passed to it? or a specific call to server th

[2019-12-10 18:19] mokhosh commented on #402
Also, can we make this easier? I guess it's a common scenario where we pass a model to a component and it's The Model for that component, and we would assign it to a public property but we can't so we assign all of its attributes to a dozen public properties.
should I open a feature request for this?

[2019-12-10 20:58] calebporzio commented on #56
Thanks @faustbrian

[2019-12-10 21:01] calebporzio commented on #399
Love it, there should be an api for this

[2019-12-11 08:22] #372 closed

[2019-12-11 08:23] #362 closed

[2019-12-11 20:20] matsava opened #408 "Route model binding broken after v0.5"
**Describe the bug**
After upgrading to v0.5 the route model binding is broken **on the second request**.

I have a CategoryPage component which looks like this:
[code]

The first time the page loads everything goes ok. When I interact with something, a checkbox for example and the component is called again I am getting an error:
[code]
on this line
[code]

**To Reproduce**
I will try to reproduce

[2019-12-11 22:05] adrianschubek commented on #408
Protected properties have been **removed** in v0.5. Use [Computed Properties](https://laravel-livewire.com/docs/computed-properties/) instead.

[2019-12-11 22:11] #408 closed

[2019-12-11 22:22] calebporzio commented on #177
Hey @edgrosvenor, yeah, I could totally see that use case.

For now, I'll say let's hold off because I don't see a clear "best way" and I don't want to add and maintain too many hidden command options that only a couple people use.

I'll keep this in mind though - thanks for checking first! And for bubbling it up to the top of my notifications @faustbrian

[2019-12-11 22:22] #177 closed

[2019-12-11 22:24] calebporzio commented on #221
Hey @faustbrian, thanks for asking. I've been trying to get GitHub Sponsors set up, but having trouble with one of the steps:

![image](https://user-images.githubusercontent.com/3670578/70665635-f908b600-1c3a-11ea-8abf-d878b39faee4.png)

(It's stuck on that pending step (I've added the extra details a bunch of times already))

Don't really know where to go from here. I really want to use GH sponso

[2019-12-11 22:27] calebporzio commented on #221
Ok, I tried again, let's see...
![image](https://user-images.githubusercontent.com/3670578/70665859-792f1b80-1c3b-11ea-95de-a67f5dcca141.png)

[2019-12-11 22:45] matsava commented on #408
So the docs referring to Route Model Binding are outdated?
https://laravel-livewire.com/docs/spa-mode/#route-model-binding

[2019-12-11 22:54] matsava commented on #408
This feels wrong 😕

In my case, I have a CategoryController which fetches the category and returns a view that contains the livewire component.
Before I could just pass the $category object in the `mount` method and only run the query once.

Now I need to pass the id of the category, store it in a public property and retrieve it in a computed property so I essentially retrieve the same thing twice

[2019-12-11 23:15] edgrosvenor commented on #177
@calebporzio I get it. Hidden options are a pain. I created my own command that includes this and the ability for me to choose which of my own little library of stubs to use for everything. So even though I suggested it, I wouldn't personally have a use for it since my own need is already covered. If I can find a good way to make what I've done for myself useful to others, I'll release it myself.

[2019-12-12 03:28] mokhosh commented on #408
@matsava I had the same issue [here](https://github.com/livewire/livewire/issues/402).
Until we have a better solution, you can assign attributes of you `category` to public properties in your component, so that you have access to data without loading the model.

[2019-12-12 03:59] mokhosh opened #409 "Fill from eloquent model"
Thanks for the new `$this->fill([])` method. I see it can fill from arrays and simple objects with public properties. But it doesn't work with eloquent models passed as eloquent models which is probably the most important use case.

Maybe we can just check if the parameter is an eloquent object and call its `toArray`.

[2019-12-12 04:08] mokhosh commented on #409
Also, this could raise another issue. If we wanna fill the `id` of that model too, it will interfere with livewire component's id property:

[code]

Maybe:
1) we can rename the livewire `id` property to something like `_id` to be able to use it elsewhere. (Also `name` and `data` while we're at it?)
2) we can somehow tell the `fill` method where to put `id` of the model or certain other attributes,

[2019-12-12 08:59] calebporzio commented on #408
A) You can assign the model's properties as public properties and not load it twice.
B) You "could" store it temporarily for the first request, and fetch it for subsequent ones:
[code]
C) You could use a "Castable" to do this for you automatically:
[code]

I know none of these solutions feel as seemless and simple as just setting a protected property.

But the complexity that goes into that is jus

[2019-12-12 09:00] calebporzio commented on #177
Sounds perfect @edgrosvenor, thansk!

[2019-12-12 09:53] calebporzio commented on #70
@rodrigore, this is expected behavior. Because you are only calling `->validate()` from the "create" method in your component, the validation will only run when you click the submit button.

If you want "real-time" validation. You can either run the validation on every request (from the render method or something), or the best thing to do would be to use the new `->validateOnly`d a method in an up

[2019-12-12 09:53] #70 closed

[2019-12-12 09:54] calebporzio commented on #404
Gotcha, thanks for following up on that @erikscheepers!

[2019-12-12 09:56] calebporzio commented on #316
Fixed now @intellow?

[2019-12-12 10:24] mokhosh commented on #408
*I* did.

Now that you got a little emotional at the end of this nice comment, I would say this: I love livewire, I love your attitude, and I feel a new level of good when I'm working with livewire or trying to improve it here.

And here's the criticism I didn't try to wrap in complements at all: please put all of your content in one place. That way even if you don't have time to organize it, othe

[2019-12-12 10:26] mokhosh opened #410 "The future of Livewire is now (what?)"
Now that you got a little emotional at the end of [this nice comment](https://github.com/livewire/livewire/issues/408#issuecomment-564912987), I would say this: I love livewire, I love your attitude, and I feel a new level of good when I'm working with livewire or trying to improve it here.

And here's the criticism I didn't try to wrap in complements at all: please put all of your content in one

[2019-12-12 13:41] cosmicvibes commented on #165
This just saved me, thank you! This needs to be in the docs. And perhaps the exception could be captured and a helpful message presented to the user?

[2019-12-12 13:44] intellow commented on #316
Yep! Thanks!

[2019-12-12 15:49] 2kodes commented on #410
@mokhosh  wouldnt the [public forum](https://forum.laravel-livewire.com/)  be a good place to aggregate this information ( links to videos, tutorials etc)?

[2019-12-12 16:42] mokhosh commented on #410
Not really. Youtube is where people are. I wouldn't even know livewire forum existed if Caleb hadn't mentioned it in the 0.5 release.

[2019-12-12 16:52] mokhosh opened #411 "loading.attr not working for alternating buttons"
I've created a `product` card that has a *Add to Cart* button. This button turns into *Remove from Cart* if the item is already attached to the `cart`.

When I keep clicking on the buttons, the loading state only works for the state that was initially set when I loaded the page. If the product is not in cart when I open or refresh the page, only the `addToCart` fires the loading state. If I add so

[2019-12-12 17:47] calebporzio commented on #410
@mokhosh - this is a really great point. Really glad you made and got me thinking about it.

What do you think about a "Blog" section on the site that acts as an aggregate of all things: new features, new videos, new podcast episodes, etc... Could have guest posts.

[2019-12-12 22:12] matsava commented on #408
Thank you @calebporzio for that 👍.

I ended up storing it as an array after all
[code]

[2019-12-12 22:21] matsava opened #412 "Model update event/listener"
**Is your feature request related to a problem? Please describe.**
I have a usecase where I need to compare the old value and the new value of a property which is binded with `wire:model`. Is there any way I could somehow run code either before or after an update is performed on a binded public property?

**Describe the solution you'd like**
Possibly a method like `onAttributeUpdate(oldVal, newVal

[2019-12-12 23:38] andonovn commented on #370
Turned out I also had very limited time lately. Going for the PR next week for sure, tho!

[2019-12-12 23:44] andonovn commented on #370
Basically, there are two steps only involved.
1. Listen for an event. In the following example the event is being called `redirect`. Put the snippet in your main js file:
[code]
2. Fire the event from a Livewire component. Again, `redirect` is just the name of the component that we listen to from step 1. `/` is the URL where we want to redirect to, the same one we instruct Turbolinks to visit from

[2019-12-13 00:15] calebporzio commented on #221
Ok, @faustbrian, so I got a GitHub sponsors page set up: https://github.com/sponsors/calebporzio

Should be live and all set. Feedback on tiers and rewards is welcomed!

[2019-12-13 03:38] mokhosh commented on #410
The idea is to check out one place, and be confident you haven't missed 80% of what you can learn about livewire, and not have to check all forum posts and github issues to see if someone have posted a comprehensive post about best practices or new ways you can use livewire.

I mean who could have thought you would post a *tutorial* that should have been somewhere in the docs, in a *closed* github

[2019-12-13 06:47] ufukugurr opened #413 "Turbolinks browser back problem"
I used turbolinks but if you click browser back button page loading but doesn't work livewire.rescan() method. Also page in process doesn't work.

app.js
`require('./bootstrap');`
`var Turbolinks = require("turbolinks")`
`Turbolinks.start()`
`document.addEventListener('turbolinks:load', () => {`
`    window.livewire.rescan()`
`})`

my links

`<a href="test" data-turbolinks-action="advance">test</a

[2019-12-13 08:24] faustbrian commented on #409
@mokhosh could you open a separate issue for the id, name and data problem so it can be referenced in a PR?

[2019-12-13 08:26] faustbrian commented on #412
Would `updatingFoo` and `updatedFoo` as documented at https://laravel-livewire.com/docs/lifecycle-hooks/ be of any use in your scenario?

[2019-12-13 08:29] faustbrian commented on #165
Someone could probably make an [ignition solution](https://flareapp.io/docs/solutions/adding-custom-solutions) for this so you could run `livewire:discover` if a Livewire component can't be found.

This solution could also use the levenshtein algorithm to check if the component name is a typo or if it is actually missing.

[2019-12-13 08:30] faustbrian commented on #389
@bedus-creation as @HenkMaller said you'll need to run `php artisan livewire:discover` if you ever change the name or location of your components or views.

[2019-12-13 08:31] faustbrian commented on #366
@shadoWalker89 this can probably be closed now that 0.5 changed targets from references to actions?

[2019-12-13 08:37] faustbrian opened #415 "Make PassPublicPropertiesToView an Interface"
I just saw the new `PassPublicPropertiesToView` trait and saw that it is completely empty. What was the reason for making it a trait, are there any plans to add methods to it?

I think `class ShowUser extends Component implements PassPublicPropertiesToView` might be a better implementation in the sense that the interface can dictate how something should behave as opposed to a trait that should act

[2019-12-13 08:38] faustbrian commented on #384
@Namoshek this can probably be closed?

[2019-12-13 08:48] #384 closed

[2019-12-13 09:10] matsava commented on #412
I actually read the docs, not sure how I missed that :(

Will check them out, thanks!

[2019-12-13 09:10] #412 closed

[2019-12-13 10:27] mokhosh opened #417 "Stop reserving common variable names"
Also, this could raise another issue. If we wanna fill the id of that model too, it will interfere with livewire component's id property:

[code]

Maybe:
1) we can rename the livewire id property to something like _id to be able to use it elsewhere. (Also name and data while we're at it?)
1) we can somehow tell the fill method where to put id of the model or certain other attributes, but this woul

[2019-12-13 10:29] mokhosh commented on #409
@faustbrian [Sure](https://github.com/livewire/livewire/issues/417)

[2019-12-13 10:32] faustbrian commented on #417
Relates to https://github.com/livewire/livewire/pull/401#issuecomment-562925960

@calebporzio if you have a naming convention or refactor like using an array to store all component state in mind I can work on a PR to resolve this issue.

[2019-12-13 10:40] faustbrian commented on #84
@robsontenorio is this still an issue?

[2019-12-13 10:42] faustbrian commented on #295
I feel like the implementation of this would add a lot of complexity as you would need to check all methods that exists on the class and their parameters to figure out if a matching method exists.

@calebporzio is this something that would be desired to have in Livewire?

[2019-12-13 10:44] faustbrian commented on #294
@Dandelosreyes could you provide a repository or gist with enough code to reproduce the issue? Also, is the modal purely in blade or is it a Vue component that has to be re-rendered?

[2019-12-13 11:11] mokhosh opened #418 "Strange animation behaviour with bootstrap"
I don't know if this is a livewire but or a bootstrap bug exactly.
But I have a button in a navbar. When I press it a model shows up. Now If I put my modal before the button `wire:transition` won't work, but if I move the modal `div` after the button it works without any problems.

I tried different classes and tags, moving the component out of navbar, putting the transition on different elements,

[2019-12-13 15:13] calebporzio commented on #221
Thanks for the support!

[2019-12-13 15:13] #221 closed

[2019-12-13 15:17] calebporzio commented on #286
Hey @panda-madness - I have a GitHub sponsors profile set up now! https://github.com/sponsors/calebporzio

[2019-12-14 03:00] mokhosh commented on #391
Actually if you use phpstorm, you can define new blade directives and tell phpstorm exactly what kind of expressions will go inside the parentheses. Other ide's and text editors probably have similar options as well, almost everything is hackable if not configurable these days.

[2019-12-14 04:07] mokhosh opened #419 "Integration with other frontend frameworks (Vue, Bootstrap, etc.)"
There are many scenarios where you have to use other libraries and frameworks with livewire, simply because some problems are out of the scope of livewire. For example we need css frameworks for styling, layout and components, and we need js frameworks for frontend reactivity.

Of course livewire should and will grow in many areas, but since the basic features are there and the stability is accept

[2019-12-14 14:57] depsimon commented on #244
Would be great if we could trigger an action and not an event, like the `click` event does.

[2019-12-15 17:42] lancepioch commented on #243
Just tested that this works correctly with the following steps:

1. Install Laravel: `composer create-project --prefer-dist laravel/laravel lw`
2. Install Livewire: `composer require livewire/livewire`
3. Install UI: `composer require laravel/ui --dev`
4. Generate UI: `php artisan ui vue --auth`
5. Generate LW Component: `php artisan make:livewire foo`
6. Content of LW Component (App\Http\Livewire

[2019-12-15 19:54] lancepioch commented on #84
I tested this with Apache and this is not an issue. (same setup from [here](https://github.com/livewire/livewire/issues/243#issuecomment-565830288))

My guess is that OP is having issues because of using subdirectories in their url `/public/` instead of pointing the root path to the public directory itself.

I believe this can be closed.

[2019-12-16 01:13] Bipolar commented on #180
I also think this is a good use case and I'm attempting to make something using BladeX (Spatie) package to work with Livewire component.

[2019-12-17 10:34] doanhung1996 opened #420 "Pagination with tag a sometime not working ???"
**Describe the bug**
I'm using livewire with custom pagination tag a some page not working after click .

**To Reproduce**
Steps to reproduce the behavior:
1. Create custom pagination view with tag a to change page .
2. paginationView() set return section 1 view.
3. Open browser click change page
4. Some page not change after click .

**Expected behavior**
The page change correct.

**Desktop (plea

[2019-12-17 19:18] calebporzio commented on #243
Thanks @lancepioch !

[2019-12-17 19:18] #243 closed

[2019-12-17 19:19] calebporzio commented on #84
Closing this for now, thanks @faustbrian and @lancepioch for digging in and resolving.

[2019-12-17 19:19] #84 closed

[2019-12-17 19:28] calebporzio commented on #419
Very much agreed on @mokhosh. You captured the situation perfectly.

Here are the options:
A) Remove third-party library support from Livewire's core and set a precedent of building plugins to add support (Vue, Turbolinks, Bootstrap's JS part, Project X)
Pros:
* Cleaner core (and more "extendable" architecture)
* Doesn't favor or align with any specific front-end tech
* Provides a path for devs to

[2019-12-17 19:37] calebporzio commented on #419
Moving this discussion over here: https://forum.laravel-livewire.com/t/should-livewire-support-vuejs/74

[2019-12-17 19:37] #419 closed

[2019-12-17 19:57] calebporzio commented on #244
First, I would say this is a smell because `click-away` is most often wanted for dropdowns and modals, which I think a tool like Project X (https://github.com/calebporzio/project-x) is better for.

Secondly, I'll say, I'm open to adding it to the framework with the same API as Project X (`wire:click.away`), and we can even use Project-Xs implementation (I think).

Although I think this is a good a

[2019-12-17 20:00] calebporzio commented on #420
Hey @doanhung1996 - please include code samples so we can help you better:

Specifically the following:
* Your custom pagination view
* The code you use to swap it in instead of the default

[2019-12-17 20:02] calebporzio commented on #391
Good tip!

[2019-12-17 20:05] calebporzio commented on #418
yeah, this sort of thing happens with Livewire's current dom-diffing solution.

You have two options:
A) wrap the conditional modal/whatever in a root `div`
B) Add a `wire:key="some-modal"` attribute to the modal element (or if that doesn't work, the button).

The reason behind the issue is that the dom-differ doesn't know it's the same button, and when the div above the button is conditionally re

[2019-12-17 20:08] calebporzio commented on #295
Hmm, this is definitely something that might be nice at some point. For now, let's hold off on it to focus on stabilizing the core code and API.

Good suggestion though!

[2019-12-17 20:08] #295 closed

[2019-12-17 20:13] calebporzio commented on #417
Yeah, I think I'm actually going to tackle this @faustbrian - thanks for being willing!

[2019-12-17 20:20] #415 closed

[2019-12-17 20:21] calebporzio commented on #366
Yep!

[2019-12-17 20:21] #366 closed

[2019-12-17 20:24] calebporzio commented on #165
There are 2 things that should be done to make this better:
1) Auto-regenerate the manifest file if a component is not found
2) Document that `artisan livewire:discover` command

[2019-12-17 20:27] calebporzio commented on #410
Good feedback @mokhosh - I will think about these things more and come up with a solution.

[2019-12-17 20:29] intellow commented on #165
If the auto-regeneration is implemented, is there any need to add that command to the docs? I can't think of a situation where you'd need to run that command manually if the component isn't found, Livewire automatically runs the discover command, and still can't find it.

[2019-12-17 20:30] calebporzio commented on #380
Yeah, this has been requested before @gjm, but I actually thought it was implemented for the `mount` method, is this not the case?

[2019-12-17 20:33] calebporzio commented on #165
Yeah, you're probably right @intellow - good point.

[2019-12-17 20:35] intellow commented on #165
@calebporzio I can work on the PR. 😄 I've been looking for something else to help out with.

[2019-12-17 20:37] calebporzio commented on #345
Yeah, that makes sense, the blade directive implementation is kind of odd and finicky. I don't really want to mess with it at the moment. If you can present a clean refactor I'd be open to it.

[2019-12-17 20:40] calebporzio commented on #165
Awesome, thanks @intellow !

[2019-12-17 21:10] wotta opened #421 "Component not being "re-mounted?" after a wire:model event is passed."
**Describe the bug**
After updating from Livewire version 0.3.* I am having trouble with my components breaking when I fill in a "wired" input field.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the following repository: `git@github.com:wotta/insighteer.git`
2. Follow useage instruction in readme.
3. Log in the application.
4. Click on the following link: `Families`
5. Click on the

[2019-12-18 03:32] mokhosh commented on #419
I'm so confused why I'm hearing about ProjectX for the first time here, and so happy I just said to myself "hey google it, it might be a real thing and not just a placeholder name" even though I wasn't all that optimistic! 😅

[2019-12-18 03:38] mokhosh commented on #418
Thanks. Adding `key` to the button worked. The only thing I didn't think would.

[2019-12-18 03:38] #418 closed

[2019-12-18 04:38] doanhung1996 commented on #420
Here is my pagination

[code]

[2019-12-18 09:22] gjm commented on #380
@calebporzio Yes it actually is.

The problem it that `boot` gets called only once, when the component is initialized. If I use it to inject dependencies into my component I run into problems with some dependencies when the component gets serialized between calls to component actions, state updates, etc.

Is there a recommended way of doing DI in Livewire components? Is there some extra step I nee

[2019-12-18 16:43] lancepioch commented on #206
Is this still an issue? If it is, could you help provide more information and some code so that this can be reproduced?

[2019-12-18 16:47] lancepioch commented on #233
Because of the way Laravel works, this might need to be implemented/fixed as a custom Livewire solution (eg. $this->flash)

[2019-12-18 16:51] lancepioch commented on #242
@kennyhorna Is the latest version working for you with that fix?

[2019-12-18 16:52] lancepioch commented on #252
@fgilio Can the issue be closed?

[2019-12-18 16:53] lancepioch commented on #268
@calebporzio Should this solution be marked in the docs if not already?

[2019-12-18 16:57] lancepioch commented on #283
Because of the carriage returns, it seems like this is a Windows specific issue. However, carriage returns alone shouldn't break like this.

I think we should have a notice/warning for Windows and then try to get this resolved!

[2019-12-18 16:58] lancepioch commented on #284
@vasco-martins Are you still having the issues with the latest version?

If so, could you please post some code to help us reproduce your issue?

[2019-12-18 17:12] lancepioch commented on #289
I think this is a javascript issue.

I believe I've got a solution that I'll try soon.

[2019-12-18 17:27] lancepioch commented on #296
The minimum version supported is currently Laravel 5.6.

Your 5.7 app should work now. Please double check and close this if so, thanks @cloudstudio!

[2019-12-18 17:31] lancepioch commented on #336
@johnnyfreeman Does the latest version work with what you were expecting?

[2019-12-18 17:32] lancepioch commented on #338
Related to #385

[2019-12-18 17:33] johnnyfreeman commented on #336
@lancepioch Yes it does.

[2019-12-18 17:34] lancepioch commented on #339
Is this actually a bug with Livewire or with the Chrome extension?

If the extension is modifying data or state that Livewire needs, then I don't think the issue can be resolved on Livewire's end.

[2019-12-18 17:44] lancepioch commented on #190
@calebporzio

oliverbj he says the component is working even though it doesn't show up in the Vue Chrome extension. Could possibly be a bug with either side.

yashiroiori seems to have a separate question/issue where the vue component itself isn't working, but this might be due to an incorrect (Vue) project setup.

[2019-12-18 17:51] lancepioch commented on #351
This seems to be an issue with the default preset middleware group from stancl's package.

The correct solution seems to be what you said and replace the `PreventAccessFromTenantDomains` with `InitializeTenancy` class in your middleware group. You did this by just creating a whole new array, but you could just find and modify the previous entry in the array too.

[2019-12-18 17:52] lancepioch commented on #175
@intellow Does this new command work similar to how you were expecting?

[2019-12-18 17:58] lancepioch commented on #371
I think this is related to #283 and has to do with you using accented characters (non ascii).

[2019-12-18 17:59] intellow commented on #175
Yeah, everything works great. It's all documented here: https://laravel-livewire.com/docs/making-components/

[2019-12-18 17:59] #175 closed

[2019-12-18 18:12] lancepioch commented on #165
Somewhat related to #252 and #389

[2019-12-18 18:49] lancepioch opened #423 "All Contributors Implementation (dummy issue)"

[2019-12-18 18:49] lancepioch commented on #423
@all-contributors please add @calebporzio for code

[2019-12-18 18:56] #423 closed

[2019-12-18 18:56] lancepioch commented on #423
@all-contributors please add @lancepioch for code

[2019-12-18 19:01] lancepioch commented on #423
@all-contributors

add @Treggats for doc
add @davidpiesse for code
add @cihantas for code

(multiple people test)

[2019-12-18 19:02] lancepioch commented on #423
@all-contributors please add @Treggats for doc
@all-contributors please add @davidpiesse for code
@all-contributors please add @cihantas for code

(multiple people test)

[2019-12-18 19:03] lancepioch commented on #423
@all-contributors please add @Treggats for doc

[2019-12-18 19:03] lancepioch commented on #423
@all-contributors please add @davidpiesse for code

[2019-12-18 19:03] lancepioch commented on #423
@all-contributors please add @cihantas for code

[2019-12-18 19:06] intellow commented on #252
I will submit a PR later today that will automatically regenerate the manifest if Livewire cannot find a component. This will eliminate the ComponentNotFoundException from being thrown unless it is valid (the component does not exist or is in the wrong namespace).

Of course, this still wouldn't help if the regeneration of the manifest file is blocked by server permissions. 😄

[2019-12-19 08:06] 2kodes commented on #419
@mokhosh
projectX has been renamed to Alpine.js and can now be found at [this link](https://github.com/alpinejs/alpine)

[2019-12-19 08:49] vanthao03596 commented on #420
i have same issue @doanhung1996

[2019-12-19 13:54] ricardogobbosouza commented on #370
Hi @andonovn, @phoogkamer
I created a PR https://github.com/livewire/livewire/pull/430

[2019-12-19 18:46] JellyBool commented on #420
Same issue here.

[2019-12-20 12:48] fgilio commented on #252
I thinks so, yep

Amazing!

[2019-12-20 12:48] #252 closed

[2019-12-20 14:53] intellow commented on #324
This is in the Installation section now. This should be closed. https://laravel-livewire.com/docs/installation/

[2019-12-20 15:01] kevindierkx commented on #324
@intellow This issue is about the use of `@livewire('component.name')` I don't see that on the installation page yet... 🤔

[2019-12-20 15:06] intellow commented on #324
I see what you mean. Sorry I thought you were referring to @livewireAssets. To me I think it makes more sense in the Make Component page. I can submit a PR to the docs.

[2019-12-20 15:08] kevindierkx commented on #324
@intellow No problem! I didn't have time for it yet, so be my guest. 😄

[2019-12-20 15:32] intellow commented on #324
https://github.com/livewire/docs/pull/75

[2019-12-20 17:35] lancepioch commented on #336
Awesome!

[2019-12-20 17:35] #336 closed

[2019-12-21 10:05] mokhosh opened #483 "Can't return file download from method"
My component represents a digital product. I'm using Spatie media library to attach files to my products. When I click on the *download* button, it should start downloading a file:

[code]

These two lines work just fine if I put them in a normal controller, but not in livewire. Are there any workarounds?
The only quick fix that I can think of, and I don't like at all, is to redirect the user to a

[2019-12-22 19:11] mokhosh commented on #483
I tried adding a route for downloading the file and redirecting to it. It starts downloading but the component just freezes. Nothing works, the loading state never ends, other buttons don't work either.

So, if we're not going to fix this fundamentally by adding support for file download responses, we need to see what's going on with this workaround.

[2019-12-22 19:53] calebporzio commented on #483
Yeah, would you be able to investigate this further? It WOULD be good to support this case.

[2019-12-22 19:59] calebporzio commented on #370
Thanks so much, this will be in the next release.

[2019-12-22 19:59] #370 closed

[2019-12-23 03:08] intellow commented on #324
This was merged in the docs repo. This issue can be closed.

[2019-12-23 06:49] kurucu opened #487 "Data binding doesn't sync if keydown event is used"
**Describe the bug**
If lazy data binding is used and the keydown event is used to submit changes, the changes are not always in sync.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following or similar code: `<input type="text" wire:model.lazy="name" wire:keydown.enter="updateModel">`
2. Type text and then hit enter - you may get spurious results
3. Type text and then submit via e.

[2019-12-23 10:35] mokhosh commented on #483
I did.

I think the problem is the way `handleResponse` in `Component/index.js` behaves when `redirectTo` is set. It just changes the url and returns (line 160) and the rest of the function is never executed if you redirect.
This is fine if you actually move to another page, but since when `Content Type` or `Disposition` is set in the response headers, the browser just starts downloading and keeps

[2019-12-23 10:40] mokhosh commented on #483
@lancepioch It's a bug report + a feature request, and an accepted call to collaboration. No questions.

[2019-12-23 13:47] driesvints opened #488 "Utilize SerializeModels trait from queue component to restore model properties"
**Is your feature request related to a problem? Please describe.**
I've only just stumbled upon https://forum.laravel-livewire.com/t/help-me-solve-the-hardest-problem-in-livewire-and-maybe-the-entire-world/22 so this might be a bit late. However, since we're not at 1.0 I believe there's still time to do some changes.

Event though I recognize all of the problems from the thread and share @calebpor

[2019-12-23 14:42] #324 closed

[2019-12-23 16:13] lancepioch commented on #483
Agreed, it's definitely a bug!

[2019-12-23 22:54] zajinx commented on #297
the error is back, it works ok the first time i hit AddUser, but if i want to add a new user as soon as i click in any of the input fields i get the error below, the error goes away if i remove the @if($this->success) block from the blade component.

[code]

![image](https://user-images.githubusercontent.com/16177818/71383994-7e9b4700-25e7-11ea-9ea1-1e423a74b733.png)

[code]

[code]

[2019-12-24 13:58] calebporzio commented on #488
I agree with everything you said @driesvints.

My only question remains:

Can we expose that information to the front-end in plain-text? (id, connection name, model class/namespace)?

If the answer is yes, then I love it - let's do it. As you said, DX matters and the current route is too complex.

If the answer is no, do we encrypt that part of the payload (makes the payload bigger by ~x3, and slo

[2019-12-24 15:23] intellow commented on #488
It's obviously the best developer experience if we can make this work. I personally don't have any concern about making model ids public, as I do that in my routes all the time.

I'm trying to think of a situation where someone could use the connection name and/or model namespace nefariously, and I can't think of anything off the top of my head.

[2019-12-24 15:40] boomerstan commented on #488
Why not provide for both? The public model for better DX and a private encrypted model for when privacy is desired?

[2019-12-24 15:54] Pen-y-Fan opened #490 "Test validation with assertHasErrors fails when using more than one key value pairs"
**Describe the bug**

I've been running through the form validation example on https://laravel-livewire.com/docs/input-validation/ when using the example with key-value pairs:

[code]

The test fails with an error **ErrorException : Undefined index: name**

**To Reproduce**

Steps to reproduce the behavior:

Follow the example https://laravel-livewire.com/docs/input-validation/

New Laravel 6.9 in

[2019-12-24 18:53] Pen-y-Fan commented on #490
If it helps, I have uploaded my example project to my repo: <https://github.com/Pen-y-Fan/Livewire-Examples>, currently all the tests pass, as I have commented out `'email' => 'required'` in the test, see https://github.com/Pen-y-Fan/Livewire-Examples/blob/master/tests/Unit/ContactFormTest.php, if the line is uncommented the test will fail.

[2019-12-24 18:59] Pen-y-Fan commented on #490
Sorry, I click the wrong button :worried:

[2019-12-24 19:17] assertchris commented on #488
I think the issue is bigger than just models. Having written a significant amount Livewire code, over the last few months; I enjoyed the freedom to store complex data structures that would never reach the client. That is downright painful to do now, especially with nested components that have their own state and parameterised parent state.

This is the pattern I've kinda settled on, for one of the

[2019-12-24 20:25] donnysim commented on #488
This might sound stupid and I'm not sure it really fits, but maybe there's a way to play with cookies? like make a specific page cookie as the cache for per page, then no matter when the user gets back it loads the state from cookie (though this could also prove problematic for page refresh etc?).

[2019-12-25 04:12] litvinjuan commented on #488
I think the answer lies here. Can't think of any, but would be nice to get a couple of views on this.

If the answer remains no, I would tackle it as @calebporzio

[2019-12-25 07:49] faustbrian opened #492 "Add support for assertForbidden and assertUnauthorized"
At the moment it is rather hacky to test any kind of status codes that are not in the 200 range because the testing tools don't catch any exceptions.

Support for methods like `assertForbidden`, `assertUnauthorized` and `assertStatus` would be greatly simplify testing of components that use the authorisation that comes with Laravel.

The only issue I see is that when an exception is thrown it does

[2019-12-26 06:36] faustbrian opened #494 "Conditional Rendering of components"
I quite often find myself in situations where I need to conditionally render some Livewire components and those conditions aren't based on authorisation or policies so I need to pollute my blade views with those conditionals since there is no way to prevent the `render` method from being called as far as I know.

A solution proposal for this problem would be to implement a `renderWhen` method that

[2019-12-27 02:15] calebporzio commented on #488
Ok, these are all good points.

* I agree that the current solution is bad UX.
* I think auto-serializing models set to public properties is a great solution and I'm also fine with exposing that data to the front-end based on opinions and other tools (Laravel Echo)
* I don't want to auto-store protected properties in a cache. There are too many edge cases and too much to manage. However, I'm fine

[2019-12-27 08:10] faustbrian opened #495 "Add more lifecycle hooks for more fine grained control"
We already have a few lifecycle hooks which are documented at https://laravel-livewire.com/docs/lifecycle-hooks/ but there isn't really a way to do something before or after they are called.

I would propose that more methods are added that allow a developers to have more fine grained access to the lifecycle of the component and what it does. For example https://vuejs.org/v2/api/#beforeMount and h

[2019-12-27 12:47] driesvints commented on #488
This is indeed a good remark.

All I ever wanted for Christmas ❤️

Thanks for all the feedback on this 👍

[2019-12-27 14:22] calebporzio commented on #488
Ok, I implemented the "auto-serializing" models thing on `dev-master`.

If someone could try it out and give me the green light, I will tag it.

Something we MUST protect against: a user tampering with the serialized state (changing the id to another id they don't own or something) and it being un-serialized back to a model they don't own.

There are 2 ways I can think a user could do this:
1. Tam

[2019-12-27 14:35] assertchris commented on #488
Any chance we could also get an interface for custom classes to implement, that will pass them through the same dehydrate/hydrate process?

[2019-12-27 14:47] lucasromanojf commented on #382
Issue solved through PR #385

[2019-12-27 14:47] #382 closed

[2019-12-27 17:36] intellow opened #496 "The wrong div disappears when wire:ignore is applied to multiple divs"
**Describe the bug**
I have 3 divs. Each has `wire:ignore` applied to them. The second div should show or disappear based on the value of a select in the first div. When the second div is supposed to disappear, the third div disappears.

**To Reproduce**

1. Create a new Laravel project and install Livewire
2. Create a component, add the following to the view:

[code]

3. Add the `$value` public p

[2019-12-27 17:40] intellow commented on #496
As a workaround, if you add `wire:key="unique_identifier"` to each div, everything works as you would expect.

The following code does work correctly.
[code]

[2019-12-27 18:48] driesvints commented on #488
@calebporzio it works really well! Thank you so much 👊

[2019-12-27 18:51] driesvints commented on #488
About data protection: I believe this should be done by authorization within the component and that this is the developer's responsibility. This is already documented: https://laravel-livewire.com/docs/authorization/

[2019-12-27 19:16] lancepioch commented on #338
#385 was merged, this should resolve any basic issues with running this on Laravel Vapor

@nie7321

[2019-12-28 00:24] #492 closed

[2019-12-29 16:25] #284 closed

[2019-12-29 17:07] imliam commented on #494
Absolutely love this idea. Another scenario that it'd be super useful for is when a component has the ability to delete itself without being in a parent "list" component - this would help with that.

[2019-12-29 17:28] faustbrian commented on #174
@lancepioch @calebporzio should no longer be relevant after https://github.com/livewire/livewire/commit/133d0910601cd1d6940809378eb58c55dc80758a?

[2019-12-29 17:31] faustbrian commented on #494
I think in the same spirit we should probably also have a `mountWhen` method that could be used to decide if a component should be taken care off at all, for example you could return `Gate::allow(...)` from the `mountWhen` method and if it is false then Livewire could completely ignore any further treatment of that component.

[2019-12-29 17:33] faustbrian commented on #304
@evergreenwebsystems is this still an issue?

[2019-12-29 17:37] faustbrian commented on #409
Can be closed as resolved via https://github.com/livewire/livewire/pull/414 @calebporzio @lancepioch @mokhosh

[2019-12-29 17:37] faustbrian commented on #389
Should be safe to be closed after https://github.com/livewire/livewire/pull/429 @calebporzio @lancepioch

[2019-12-29 17:38] faustbrian commented on #380
@gjm would you have a specific example that could be used for reproduction of the issue to solve it?

[2019-12-29 17:47] manogi opened #500 "Feature Request: Add "assertRedirect" to testing methods"
I have a Login component which works great. Livewire really is awesome. The component checks on submit if the admin logging in has only one or multiple accounts and redirects the admin either to their dashboard or to a “choose-account” page. It works great, and it’s just a few lines of code.

But I would like to have a test that tests exactly that (an admin with multiple accounts gets redirected t

[2019-12-29 19:14] mokhosh commented on #409
Yes, but also kind of obsolete, right? Because now we can have models and public properties and we don't have to fill anything with anything. (Unless someone likes to have model properties directly on the component for some reason.)

[2019-12-29 19:14] #409 closed

[2019-12-30 05:30] faustbrian commented on #345
@calebporzio couldn't we use plain php functions instead of anything engine specific to echo the Livewire scripts into the templates? I think Spark does something like `{!! Spark::appVariables(); !!}` so we could do `Livewire::scripts();`

Then in combination with that we could create a `LivewireRenderer` contract that the blade and twig renderers would have to implement and whatever is bound to t

[2019-12-30 05:52] faustbrian opened #502 "Conditional Mounting of components"
In the spirit of https://github.com/livewire/livewire/issues/494 we could also consider to add a `mountWhen` method. This would allow developers to completely disable the treatment of a component without having to pollute their views or multiple methods inside components with authorisation checks.

[code]

[2019-12-30 07:02] faustbrian commented on #409
Don't think it's obsolete at all, your use-case must be very limited if you think so. You can't set properties on models and there are endless scenarios where you partially need data from a model on your component together with data that doesn't come from a model.

Having models as public properties and the need for filling from a model aren't mutually exclusive.

[2019-12-30 07:12] ManojKiranA commented on #502
@faustbrian  What is the Key Difference between `mountWhen` and `renderWhen`

[2019-12-30 07:42] faustbrian commented on #502
If `mountWhen` would return `false` it would completely disable your component while `renderWhen` would still create the instance of your component but not render anything until `renderWhen` returns true.

Basically it's either completely ignore the component or render it and react to things which could eventually lead to the component rendering.

[2019-12-30 16:29] gjm commented on #380
@faustbrian since I've upgraded to PHP 7.4 the error changes but the problem persists. Lets say we have this simple (and fake) component:

[code]

[code]

When the page renders, the log message is correctly shown but when the button is clicked I get:
[code]

The way I see it, the `LoggerInterface` instance is assigned on `mount` and called on `render` but after the ajax call the instance is no lon

[2019-12-30 21:36] Highjhacker opened #505 "Weird behavior with HTML comments inside blade file"
**Describe the bug**
Wanted to add a TODO comment at the top of my .blade file, which I did, but once the changes saved and the page refreshed, the whole layout was destroyed by a "dump" of livewire as shown in my screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `php artisan livewire:make test` to create a new .blade and .php file
2. Go to the freshly created .blade file
3. Wr

[2019-12-31 03:38] faustbrian commented on #505
This is most likely caused by the DOM parser because it thinks that the comment is the root element. The `div` has to be the root element like it has to be with vue.

Also TODO comments should be made with blade comments or other developers will be able to see them by looking at the websites source in the browser.

[2019-12-31 07:14] faustbrian commented on #380
This seems to be a quick and dirty fix but introduces other problems https://github.com/livewire/livewire/compare/master...faustbrian:patch-1. I am thinking how this could be best solved without adding too much overhead or ideally persisting the container resolutions.

For now your best bet is probably to do something like below with computed properties.

[code]

@calebporzio are protected propert

[2020-01-01 02:26] caominhduc3108 opened #506 "@livewire(App\Http\Livewire\Counter::class) callable"
I need to use some Livewire Components in my package
So i think it much more clear and reuseable if we can call by blade directive by Component classname.

[2020-01-02 01:23] lancepioch commented on #505
Expected behavior is that there is only a single root html element. I think it says that in the docs

[2020-01-02 03:39] calebporzio commented on #494
I'm interested in this concept. But I haven't needed it myself.

Please provide concrete use-cases here with code samples to demonstrate the points before I consider merging the PR.

[2020-01-02 04:04] faustbrian commented on #494
This is just some pseudo but it's based on a real application I've worked on in the past. You could say that these kind of checks should go into a policy/gate or simply throw a 401/403 but these kind of checks are only used exactly once. Usually I would simply not render that blade template so in the context of Livewire it would make the most sense to me to not render the component without having

[2020-01-02 07:49] mokhosh opened #507 "Add support for system key modifiers"
Can we add support for key modifiers like `keydown.ctrl.enter`?

https://vuejs.org/v2/guide/events.html#System-Modifier-Keys

[2020-01-02 10:24] pmartelletti opened #508 "Using wire:click in combination with x-on:click (alpine)"
**Describe the bug**
Hi @calebporzio - I have a component that's using alpinejs in order to show some dropdown. The code is the following:

[code]

When clicking the button, the dropdown is showing correctly - the idea is that when the user clicks on the `<a>`, the dropdown will close. However, it seems that having x-on:click and wire:click on the same element won't work, as the wire:click is bein

[2020-01-02 13:23] K2ouMais opened #509 "Pagination showing up even when search count is less than pagination count."
**Describe the bug**
I have a search Input and I am showing a list of items in a list with a pagination count of 5 on each page.

The search only works when I am on page 1. If I go to another page and search something over the input the results dont get listed and the pagination still shows up even when the search count is small than the pagination count.

**Expected behavior**
I was expecting to

[2020-01-02 17:17] lancepioch commented on #423
@all-contributors please add @taylorotwell for financial

[2020-01-03 04:57] faustbrian commented on #388
Just encountered this again with another component that uses https://stripe.com/en-fi/payments/elements. Initially the component renders fine but when the user enters their name and triggers a re-render of the Livewire component the Stripe Element disappears.

[code]

<img width="870" alt="Screenshot 2020-01-03 at 6 54 35" src="https://user-images.githubusercontent.com/22145591/71707920-21c53b00-2

[2020-01-03 06:09] ManojKiranA commented on #509
I think its not bug in in Livewire or i don't think it's a bug or Expected behaviuor.

So here is the situation:

1. You have 10 Records in the Table and You have paginated that Data as **15** as Perpage Data
 For Example :
 `Post::query()->->paginate(15,['*'],'postPage');`

2. In this situation we won't have Pagination.

3. But What of the user manually Enters the url as

`http://example.com/post

[2020-01-03 06:50] K2ouMais commented on #509
The problem here is, the user is not typing the URL.

I am searching for a value and that result count is smaller than the wanted values on the page.

It still shows the pagination and the searched value dont show up.

I am not sure if this is a Livewire problem or if comes directly from Laravel Framework.

[2020-01-03 07:44] K2ouMais commented on #509
This is what I found out.

When on page 1 and searching, it seems I get results in the Collection. This is working as expected here.

However when searching on a page > 1, seems that the Collection is empty.

It still has a total of 1 and the pagination shows up, but the Collection is definitly empty.

[2020-01-03 07:52] linuxjuggler commented on #509
the simplest solution will be to reset your pagination when you are searching for something, this way you make sure it will always be on page one.

[2020-01-03 08:09] K2ouMais commented on #509
Is there an easy way to reset pagination??

[2020-01-03 08:31] nuernbergerA commented on #509
Set page to 1 everytime `$searchInput` gets updated

[code]

[2020-01-03 08:34] linuxjuggler commented on #509
you can pass the current page to the `paginate` function

[code]

Check the function definition here https://github.com/laravel/framework/blob/795660e6b09e7be2fe7463ab0af6bb9f6cd0b2aa/src/Illuminate/Database/Eloquent/Builder.php#L716-L741

[2020-01-03 08:40] ManojKiranA commented on #509
For Example if you are the **10th page** of the list and if you start searching for data it will start reducing but still the **page number remains the same**

Even though User is not typing the url  the state will be preserved.

so you are still in **10th page even after searching**

[2020-01-03 08:40] ManojKiranA commented on #509
may be this will help you

[2020-01-03 08:44] dircm commented on #509
The same behaviour is present in the calebporzio/laracasts-livewire-datatable demonstration.  Searching on a name after paging through past a number of pages will result in an empty list.
 Starting the search from page 1 hides this behaviour.  @ManojKiranA sugestion is a sound one.  I'll give that a try in the laracasts-livewire-datatable soon.

[2020-01-03 09:00] K2ouMais commented on #509
You just saved me a lot of work.

That works perfectly.

Thank you very much

[2020-01-03 16:17] EldonYoder commented on #354
Hello everyone... just curious if anyone else is having this issue with v0.5.3 of livewire and laravel v6.9.0

Every time I try to trigger an event, or update some data in a livewire component from the front of my application I get the error that started this thread...

Livewire\Exceptions\CorruptComponentPayloadException
Livewire encountered corrupt data when trying to hydrate the [my-super-secre

[2020-01-03 17:42] faustbrian commented on #494
Found another example from an application I am working on there this would help to keep the view free from any conditionals.

[code]

Because the `projectId` can be `null` I need to wrap my whole component in an `if` check to ensure it's not rendered.

[code]

[2020-01-03 17:42] mattdfloyd commented on #508
You can interact with Livewire from within Alpine using what's provided by the [Inline Scripts](https://laravel-livewire.com/docs/inline-scripts/) approach with Livewire. Livewire ships a `@this`  Blade directive to access the Livewire component. So, instead of having both an Alpine and a Livewire click listener, you could combine the two calls: `x-on:click.prevent="open = false; @this.call('chang

[2020-01-03 18:14] mattdfloyd commented on #494
I too like the idea of conditional rendering. As a countering thought, just to challenge how this is accomplished best!...

Could `render()` return `void` if a view shouldn't be rendered? This could be implemented similarly to #501 in `output()`:

[code]

And in the component:
[code]

This would allow this concept to be accomplished without a change to the API since `render()` does not enforce a t

[2020-01-03 19:17] calebporzio commented on #507
Ah, nice - yeah I'd be down for this I think - would you be open to exploring an implementation in a PR?

[2020-01-03 19:50] calebporzio commented on #494
My gut tells me that this is the kind of feature that doesn't justify the complexity (and therefore future issues and gotchas) it adds to the core.

A) I personally would advocate handling conditional rendering in the parent view
B) Could you extend `Livewire\Component` and overwrite the `->output()` method to accomplish this for your own projects?

Either way, the usage doesn't seem great to me,

[2020-01-03 20:24] calebporzio commented on #508
Great call @mattdfloyd - does this do it @pmartelletti ?

[2020-01-03 20:32] calebporzio commented on #345
Yes, probably so. There IS some rediculous logic I have to do at Blade compile-time to get proper nested component tracking. It's a really dark hole, and I'm not sure I'm up for supporting both Twig and Blade for that reason.

Thanks for the sound proposal, but unless there are hoards of Twig users pining for Livewire support, I think I'm going to close this.

Thanks for weighing in @faustbrian -

[2020-01-03 20:32] #345 closed

[2020-01-03 20:34] #389 closed

[2020-01-03 20:36] pmartelletti commented on #508
@calebporzio that would do it, yes! Thanks a lot @mattdfloyd :)

[2020-01-03 20:36] #508 closed

[2020-01-03 20:39] calebporzio commented on #506
@caominhduc3108 - can't you already do this? Did you try?

[2020-01-03 20:40] mbardelmeijer commented on #345
Understandable. Tried a pass at refactoring it a while ago but the current code does contain quite a bit of magic that was hard to implement.

Might try another pass in the future if needed, will PR it in then :)

[2020-01-03 20:42] calebporzio commented on #506
Ah, I see - it's not currently possible, wouldn't be too hard to implement. Open to PRing?

[2020-01-03 20:42] calebporzio commented on #345
Yeah, it's not too simple. Thanks for being willing!

[2020-01-03 20:45] calebporzio commented on #409
Very true

[2020-01-03 20:46] calebporzio commented on #505
Yeah, I'm going to close this for now. Good call.

[2020-01-03 20:46] #505 closed

[2020-01-03 23:21] #494 closed

[2020-01-03 23:22] faustbrian commented on #502
Closing as it's in the same spirit as https://github.com/livewire/livewire/issues/494#issuecomment-570679502

[2020-01-03 23:22] #502 closed

[2020-01-03 23:23] faustbrian commented on #500
@manogi can be closed as of https://github.com/livewire/livewire/pull/503

[2020-01-03 23:50] #500 closed

[2020-01-04 15:08] caominhduc3108 commented on #506
@calebporzio I just some lines of code in LivewireManager@active.
With me Classname is more readable than Alias.

[2020-01-04 22:03] lukasplevko commented on #360
Instead of making a global variable in the controller I made one in the method and passed it with the view and everything worked fine. Idk why it wont take the globals.

[2020-01-05 08:38] mokhosh commented on #507
So nice to see you *back* in livewire issues. (I'm starting to hate alpine for this a little) 😁
Here https://github.com/livewire/livewire/pull/512

[2020-01-05 21:09] colinmackinlay opened #513 "Testing can't see database content rendered dynamically"
**Describe the bug**
My Livewire component renders a list of words from a database (along with some other data such as a definition and a translation).

In the test case a single word is added during setup and I test for this with assertDatabaseHas. Livewire test though doesn't find the word and indicates no words rendered in the table.

/** @test */
    public function it_displays_a_word_on_the_i

[2020-01-05 23:59] colinmackinlay commented on #513
Sorry - my bad. There was a filter preventing the database content from rendering on the initial view of the livewire component.

Thought I'd checked everything!

[2020-01-05 23:59] #513 closed

[2020-01-06 17:35] packytagliaferro opened #514 "after 3 changes to wire:model Livewire no longer sends request"
I am following the [episode](https://laracasts.com/series/guest-spotlight/episodes/3) on Laracasts on how to make a Livewire table. Everything seems to work fine until I change the select option more than 2 times. The first 2 times I can see a request is made to my controller in the "network" section of Chrome. On the 3rd change there is no longer any requests being made

Add `wire:model="perPage"

[2020-01-06 20:48] calebporzio commented on #514
Hi @packytagliaferro, we'll need full copy-pastable code to help you. Thanks!

[2020-01-06 20:51] calebporzio commented on #506
Merged PR, should be good

[2020-01-06 20:51] #506 closed

[2020-01-06 21:05] packytagliaferro commented on #514
Thanks @calebporzio . Below is an example from what I learned on Laracasts. In my app if I change the perPage amount to list the exhibits it stops making requests after 2 changes.

ExhibitorsTable.php

[code]

exhibitors-table.blade.php

[code]

[2020-01-06 21:47] calebporzio commented on #507
Merged (FYI I definitely spend more time on Livewire than Alpine (by far)) - it's just super hard to wrangle issues, PRs, a forum, the code, promotion, docs, education, yadayadayada and stay on top of everything

[2020-01-07 03:48] packytagliaferro commented on #514
@calebporzio  I just noticed on the 3rd time I get the error `TypeError: Cannot read property 'getAttributeNames' of null`

[2020-01-07 04:27] packytagliaferro commented on #514
So the SVG looks like so:

[code]

I replaced with a different SVG and it works now. No idea why. The issue is resolved but might want to see whats different with this SVG that broke it.

[2020-01-07 04:48] calebporzio commented on #514
Hey @packytagliaferro, try adding a `wire:key` attribute to the `<tr>` inside the foreach loop:

[code]

[2020-01-07 07:06] mokhosh commented on #507
Happy to hear that until I start a serious project that uses Alpine 😄

I know, that's why I suggested you concentrate your content a while ago. You might need a not-todo list. Great job either way.

[2020-01-07 07:42] ManojKiranA commented on #509
I just Created a little handy function so that we can minimize the function

[code]

Hope its Helps.

[2020-01-07 10:07] K2ouMais commented on #313
Is there a way to send a hidden field?

I want to know wich ID on DB I want to update, but the hidden field isnt sent to the controller.

If you have another way to do it, would be very cool.

Thank you

[2020-01-07 16:59] packytagliaferro commented on #514
@calebporzio iI added the key but still get that error when  a Vue component is in the foreach. I updated that code above to reflect a Vue component that I would use to "show more"

[2020-01-07 18:03] packytagliaferro commented on #514
@calebporzio
[Screen Recording 2020-01-07 at 10.01.00 AM.zip](https://github.com/livewire/livewire/files/4031825/Screen.Recording.2020-01-07.at.10.01.00.AM.zip)

Okay, from what I gather Vue Modal JS uses a prop called `name` to handle the modal id. This seems to be messing with Livewire so I went to this solution for a modal you posted:

[Modal](https://github.com/livewire/livewire/issues/180)

A

[2020-01-07 18:53] lucasromanojf commented on #354
I am having the same issue :(

[2020-01-07 21:10] packytagliaferro commented on #514
Okay, after messing with it for a bit I got it all working by doing the following:

1. Add a wire:key with the parent of my foreach loop
2. Remove the vue modal and use the solution here:
3. Change the css in that solution form binding the `name` to the modal initial state to just a class `modal` since on load it was getting wacky ( `#modal-{{ $name }}` -> `.modal` )

Some Vue Js components I have

[2020-01-08 06:01] miggiboy opened #515 "Public and computed properties which one to use for storing models?"
Hi!

I was upgrading my Livewire components to 0.5.x and I'am a little confused now whether I am supposed to use computed properties store array of models.
Currenly the code looks like this:

[code]

[2020-01-08 06:10] miggiboy commented on #515
Rewrote it like this and it works fine too
[code]

[2020-01-09 18:01] calebporzio commented on #515
I'd go computed - good call.

[2020-01-09 18:01] #515 closed

[2020-01-09 18:03] #507 closed

[2020-01-10 08:43] axit-joost commented on #216
The 'problem'  is that Echo/Pusher is more or less a one-way street: Stuff happens on the backend, it gets observed and it gets pushed through to the frontend. Also, it is too much centered around the concept of Channels (Public, Private and Presence).

WebSockets are two-way, meaning that we should be able to get the frontend to communicate with the backend as well. The problem with Laravel Echo,

[2020-01-11 10:24] kot13 opened #517 "Strange behavior with comma separated parameter"
**Describe the bug**
Strange behavior with comma separated parameter

**To Reproduce**
Steps to reproduce the behavior:
1) Install latest Laravel and latest livewire (0.5.3)
2) Create livewire component:
`$ php artisan make:livewire test`
3) Update view and component class:
resources/views/livewire/test.blade.php:
[code]

app/Http/Livewire/Test.php
[code]
**Expected behavior**
In browser console:

[2020-01-11 11:41] cbaconnier opened #518 "Listener parameter is casted because of its name"
**Describe the bug**
A listener with the parameter named `$date` will contain an instance of `Illuminate\Support\DateFactory` despite we are not sending any date object.

Changing the parameter name to `$test` fix the problem.

**To Reproduce**
[code]
[code]

**Expected behavior**
The parameter `$date` should contain the emitted value.

**Desktop (please complete the following information):**
 - T

[2020-01-12 00:10] ryatkins commented on #343
I also have this error and it is happening when I'm emitting on an input field when it loses focus.  The error happens when I redirect to a new page while losing focus.

`onfocusout="window.livewire.emit('lostFocus')"`

[2020-01-13 07:03] wmushtaq opened #519 "Error on installation"
I am getting the following error upon installation of package

[code]

I am using Laravel 5.7 on PHP 7.1.33

[2020-01-13 08:31] cbaconnier commented on #519
Because the import has [a comma at the end of the use declaration](https://github.com/livewire/livewire/blob/master/src/LivewireServiceProvider.php#L30) and it's a [feature introduced with PHP 7.2](https://wiki.php.net/rfc/list-syntax-trailing-commas)

Note: PHP 7.1 is not supported anymore https://www.php.net/supported-versions.php

[2020-01-13 12:29] wmushtaq commented on #519
Thanks @cbaconnier

[2020-01-13 12:29] #519 closed

[2020-01-13 20:21] tillkruss opened #520 "The /tmp/storage/bootstrap/cache directory must be present and writable."
**Describe the bug**

#385 broke our app:

[code]

We reverted back to v0.5.2 and it's working just fine.

**Additional context**

It doesn't work with `livewire.manifest_path` set to `null` or not set at all.

The manifest path seems to evaluate to `/app/bootstrap/cache/livewire-components.php`.

[2020-01-13 20:32] tillkruss commented on #520
The null coalescing operator is not being used correctly.

[2020-01-14 03:00] #520 closed

[2020-01-14 17:18] nikolaystrikhar commented on #380
It would be great to be able to use DI!

[2020-01-14 21:54] wotta commented on #421
Don't want to act rude but has this issue been looked at yet?
I will try to rewrite my livewire components. Hopefully I can fix it when thinking about the logic.

[2020-01-14 22:23] calebporzio commented on #421
Try making `$model` a public property instead of a protected one.

Some context:
* v0.5.0 removed the ability to store things (and persist them) inside protected properties. (https://github.com/livewire/livewire/releases/tag/v0.5.0)
* v0.5.3 added the ability to store models as public properties to curb the need for storing public properties. (https://github.com/livewire/livewire/releases/tag/v0.5

[2020-01-14 22:23] calebporzio commented on #421
We've wrestled with some pretty big architectural considerations, but the API has settled down now, so there shouldn't be as many breaking changes going forward.

[2020-01-14 22:24] #421 closed

[2020-01-14 22:29] wotta commented on #421
Heej @calebporzio, first off thanks for taking the time to reply!

I took a look at the 0.6 release notes and it gave me the hope that it might have been fixed.

So took the time to update and change some stuff.

From the looks of it at this moment it may seem to me that I made some architectural mistakes that no update can help.

I still need to take a closer look at the release notes that you sh

[2020-01-14 22:30] calebporzio commented on #519
@wmushtaq - I don't think there are any real reasons we need to break support for 7.1.

Would you be open to PRing a fix to make Livewire compatible with 7.1 and below?

[2020-01-14 22:33] calebporzio commented on #421
Yep, sounds good!

[2020-01-15 12:29] lalov commented on #354
It happened to me if I set the public $id to another value in the mount() method. I used $id to keep track of a model-id, but I didn't know the component id was stored in that variable.
Failing code:
`
    public function mount($model_id) {
        $this->id = $id; // Not good to override this dude
    }
`

[2020-01-15 16:14] eckelarsson opened #526 "Defer Loading - On wire:init add ability to target that event for loading wire:target="init""
**Is your feature request related to a problem? Please describe.**
When you do a defer loading `<div wire:init="getData">` I would like to be able to target a loading action just for that event. You don't always need a loading screen on other types of actions within that component.

**Describe the solution you'd like**
[code]

[2020-01-15 20:06] intellow opened #527 "Cannot use @this blade directive in a nested component"
I have a nested component, and within that nested component I'm using the `@this` blade directive to have livewire send an update on a javascript event.

Unfortunately `@this` this doesn't work when you update the component because that javascript does not get updated when the component updates. `@this` will always reference the first component.

_In the example below, I understand that I could ch

[2020-01-15 22:21] xxdalexx opened #528 "Property doesn't update on wire:keydown when using wire:model.lazy."
Any function called with wire:keydown uses the last updated binding from wire:model.lazy instead of the current when both on the same input.

[2020-01-17 13:45] aglipanci opened #530 "Nested (td) model binding not working"
**Describe the bug**
Nested model binding not working on a table. I generate a whole table as a Livewire component and I am using nested model bindings to get if a checkbox is checked on each row. It actually works only for the first checkbox, starting from the second row it dows not fires an event at all.

The Component property
`public $checkboxes = [];`

The Blade
[code]

If I try to wrap the b

[2020-01-17 14:59] aglipanci commented on #530
Actually I tried to add the table in the component and wrap it with a div and it's working fine. I am closing this for now.

[2020-01-17 14:59] #530 closed

[2020-01-18 07:48] kurucu opened #533 "Turbolinks Integration Docs"
**Is your feature request related to a problem? Please describe.**
In the [Turbolinks Documentation](https://github.com/turbolinks/turbolinks#loading-your-applications-javascript-bundle), it suggests that all javascript should go in the head, rather than body, using `defer` to load it after the page (_"Otherwise, Turbolinks will reload the bundle with every page change"_).

Meanwhile, [the Livewir

[2020-01-18 13:31] mokhosh opened #534 "Confusing $set behaviour"
This will throw `Unable to set component data. Public property [$1] not found on component`:
[code]
After a lot of head scratching I found out that this will work as expected:
[code]
Not putting a space after the comma and before the `value`, will make livewire want to evaluate the string for some reason. It evaluates `true` to `1` and tries to find a public property with that name.

**To Reproduc

[2020-01-18 13:44] cbaconnier commented on #534
I believe, this is related with https://github.com/livewire/livewire/issues/517

[2020-01-19 09:57] mokhosh opened #537 "Session expired behaviour"
We get error 419 if the page is inactive for a while.

**Describe the solution you'd like**
I see that you have disabled session expiration before and re-enabled it, which was a good move. But can we create an api where we can handle this situation more gracefully? Maybe we decide to reload the page, or show a beautiful error, or something else.

[2020-01-20 15:19] Jarrid opened #538 "Idea - InertiaJs PingCRM as a Livewire App?"
**Is your feature request related to a problem? Please describe.**
This is NOT a problem - I just know Caleb had requested ideas on what type of full featured app he might be able to provide to represent Livewire.

**Describe the solution you'd like**
Notably, this would take work, but what about redoing the app created for inertiajs (pingCRM) as a Livewire app?  That application is what drove me

[2020-01-20 17:28] intellow commented on #538
It's already in progress. He's not using PingCRM but building his own. He talks about this a bit in his latest podcast. https://twitter.com/calebporzio/status/1215696568386576385

[2020-01-20 17:35] intellow commented on #537
If the session is expired, I would think the most elegant solution would be to redirect the browser to the login page. Reloading the current page should do that in most Laravel apps.

[2020-01-20 17:38] mokhosh commented on #537
I think sometimes the csrf protection cookie is expired which causes the 419 error, but the user is still logged in. So, we probably shouldn't decide what happens. Just give the developer a way to handle the error how ever fits their application.

[2020-01-21 13:29] EldonYoder commented on #354
Just a quick update on this...

I set up a new project the other day (Livewire 0.6.0 & Laravel 6.11.0) and haven't had this issue at all. So I went back to the project I initially had this problem with and updated to Livewire 0.6.0 & Laravel 6.11.0, but am still getting the same error when trying to toggle a boolean property.

`Livewire encountered corrupt data when trying to hydrate the [recent-p

[2020-01-21 18:33] calebporzio commented on #354
Hi @EldonYoder, You'll have to post some source code for us to help you with that. Ideally something we can run simply on our own machines.

[2020-01-21 18:36] calebporzio commented on #354
Hmmm @lucasmichot - I can set boolean properties fine. I'm wondering if any of this is because of a specific middleware setup you have in your Laravel app. That's maybe why we can't replicate this in a fresh Laravel install.

[2020-01-21 18:38] calebporzio commented on #537
Yeah, this is definitely something I'm curious about addressing.

* Offer a UI hook for devs to add their own "expired state"
* Auto-redirect when an ajax request returns a 416
* Auto-refresh csrf tokens

I don't know. I don't really like any of these options, but I agree this needs to be addressed. Would love to hear more thoughts.

[2020-01-21 18:57] EldonYoder commented on #354
@calebporzio - Ooops... duh I should have given some source code... 🤦‍♂️

The app is a pretty simple "weight tracking" tool and this is the RecentWeights Component.

[code]

Here is the corresponding Livewire blade template.

[code]

I'd be more than happy if this was just me doing something dumb and not realizing it... :)

[2020-01-21 19:12] lucasmichot commented on #354
Not sure why you've mentioned me @calebporzio?
Nevertheless, I hope you're doing fine ?!

Great to see `livewire` and `alpine` projects sky-rocket!
Take care mate 🙏

[2020-01-21 19:28] lancepioch commented on #537
I think there should be a callable/hook that lets the user decide what to do.

Perhaps the best default callable would be to auto refresh the csrf tokens.

I don't think the auto redirect is a good idea because it introduces another layer of ui for the dev to think about. ie. does the dev need to write and worry about redirected page, popup/modal, session flashed data, etc?

[2020-01-21 20:55] nuernbergerA opened #541 "Unable to build livewire after switch to rollup"
**Describe the bug**
After you replace laravel-mix with rollup #539 i'm unable to build livewire
 ##

**To Reproduce**
1. run  `./node_modules/rollup/dist/bin/rollup -c rollup.config.js`

**Expected behavior**
Successful build

**Additional context**
We should reflect changes also in [package.json](https://github.com/livewire/livewire/blob/065d2562c8c1d77ad7bc1d2d4ef47a93e55ba7db/package.json)

[c

[2020-01-21 20:56] nuernbergerA commented on #534
I will open a PR to fix this after #541 is fixed

[2020-01-21 20:56] nuernbergerA commented on #517
I will open a PR to fix this after #541 is fixed

[2020-01-21 22:54] intellow commented on #483
Jumping in here to say that I'm trying to use Livewire to download a file as well. I haven't come up with a good way to do this yet but will update if I find a solution.

[2020-01-22 03:20] mokhosh commented on #537
Maybe a config for enabling and disabling csrf token auto-refresh quickly. Then an event hook to handle all kinds of response codes (500, 419, ...) and the developer can decide what they wanna do.

If someone needs a quick fix they will just set a config. If that doesn't suit their needs, they probably need a low level control.

[2020-01-22 06:36] harrygulliford commented on #541
@nuernbergerA Could you let me know if #543 fixes the issue?

[2020-01-22 06:49] nuernbergerA commented on #541
@harrygulliford unfortunately i encounter this error:
[code]

[2020-01-22 06:55] harrygulliford commented on #541
Does the `LoadingStates.js` file exist in `src/js/components/`? Also it might be a good to see if updating your version of node resolves anything by running `npm install npm@latest -g`.

[2020-01-22 07:00] nuernbergerA commented on #541
Yes.

I guess it's the import with @ dosn't work anymore.
If i replace all imports all works fine.

[2020-01-22 07:09] nuernbergerA commented on #541
Its relateted to this section in rollup.config.js

[code]

[2020-01-22 07:14] nuernbergerA commented on #541
Found it, its a path case thing.

1. rename `src/js/Component/` to `src/js/component/`
2. replace `import Component from "@/Component/index";` with `import Component from "@/component/index";` in `src/js/index.js`

[2020-01-22 07:51] nuernbergerA commented on #541
@calebporzio should we open another PR to fix the path case issue?

[2020-01-22 09:23] pmartelletti opened #544 "AlpineJs directives not working after component is reloaded"
**Describe the bug**
Hi @calebporzio  - I'm currently experiencing a weird bug, but I'm not sure if should be raised here or in alpine, so apologize if raised in the wrong place.

So, basically, I have a livewire component that, as part of the HTML it renders, it has a tooltip that uses alpine x-show to display/hide on mouseover. Something like:

[code]

The first time the page is rendered, everyt

[2020-01-22 13:14] cytRasch commented on #544
Same here.

The Livewire component:
[code]

First part of the template where you can choose between some options:
[code]

The iteration and the alpine stuff:
[code]

When changing the select field the employee part is re-rendered by Livewire with some new data and everything is hidden (beacause of ```x-cloak```) but the directives are not working anymore, too.

Hope there is a proper solution to g

[2020-01-22 14:06] ryatkins commented on #544
I would like to be able to mix and match Livewire and Alpine as well, but I've had to resort to adding `wire:ignore` to my Alpine elements that don't require Livewire data.

@pmartelletti - can't this be easily turned into a Livewire controlled element instead?

Create a public property on your Livewire component and two methods to toggle the state:
`public $toolTip = false;`

[code]

[2020-01-22 14:08] pmartelletti commented on #544
@ryatkins yeah, but that would mean I'd have to create a new livewire component. This is a table I'm rendering, so seems a bit stupid to render a "row" component, as it won't be doing much logic + I'd be losing the pagination ability that Livewire has built-in.

[2020-01-22 14:19] ryatkins commented on #544
So where does $priority come from?
If it's not driven from your Livewire component, can you use `wire:ignore`?

[2020-01-22 14:21] pmartelletti commented on #544
@ryatkins what I've posted here it's a blade partial, so basically that comes from doing `$incident->priority`. My livewire component has a list of incidents. So, yeah, priority is coming from livewire, unfortunately.

[2020-01-22 14:32] ryatkins commented on #544
And you can't use that Livewire component to manage the state of that tool tip?

[2020-01-22 14:58] ryatkins commented on #544
Agreed, I'd like to use Alpine for this as well.  Just hoping this could be a good path until Laravel/Alpine integration gets better sorted.

If $priority is staying static, not changing on an Ajax call - what happens if you put wire:ignore on your parent span?

[2020-01-22 15:32] zodman opened #546 "[Feature] decouple JS part from laravel"
I want to implement livewire on django or someone else could implement on rails

I know this is hard and hurt ...

[2020-01-22 17:37] calebporzio commented on #546
Yeah, definitely going to be hard. I'd be willing to tweak the codebase to make this easier for you (like decoupling the JS more), but I'm not going to do any of that until there is a working version of Livewire working in another framework.

I think there is definitely potential here, but supporting other platforms is not really a goal for this project right now.

Closing for now, but feel free t

[2020-01-22 17:37] #546 closed

[2020-01-22 17:38] brocorp-dev opened #549 "How to deal with "dynamic input checkbox name"?"
Hi guys,

I've spend my afternoon to deal with "dynamic input checkbox name", I mean if a checkbox dynamically generated by a loop is checked or not. I don't know how to achieve that with Livewire.

Usually, with Laravel I do something (ugly) like that:

**view**
[code]

**controller**
[code]

but with Livewire, I tried that, 'cause we need to "declare manually" public property and I thought putti

[2020-01-22 17:53] sebastiandedeyne opened #550 "Query string defaults"
First of all, I'm very happy to see first party query string support land in 0.7! 🎉

When I'm building datatables, or other filter-ish interfaces, I always add the concept of a *query string default value*. These are values that should never appear in the URL.

For example, a `/posts` page with a datatable with sortable columns and a search filter.

If I search `livewire`, it'll set to `/posts?sea

[2020-01-22 17:53] calebporzio commented on #483
Awesome, I think the answer to this will end up being the same as this question:

"How do I trigger a file download from an ajax response"

If there is a good answer to that. This is possible.

I'm going to let you all figure this out though, because I have other priorities ATM, thanks for pitching in!

[2020-01-22 17:57] calebporzio commented on #354
Ha, oops! Meant the other Lucas lol. Thanks bud!

[2020-01-22 18:04] calebporzio commented on #533
Thanks for the nudge. I will hopefully be getting to that shortly. Thanks!

[2020-01-22 19:46] ryatkins opened #552 "Query string - ability to add paginator $page to $updatesQueryString"
**Is your feature request related to a problem? Please describe.**
When pagination is enabled, need to be able to append $page to the query string

**Describe the solution you'd like**
protected $updatesQueryString = ['page'];

**Result**
?page=1

**Bonus**
Be able to register properties that when updated returns page back to 1 per this [issue](https://github.com/livewire/livewire/issues/509).  Pe

[2020-01-22 19:54] ryatkins commented on #550
@sebastiandedeyne I like this idea and it seems like it could cover most cases.

I just aded this [feature request](https://github.com/livewire/livewire/issues/552) along the same lines: adding 'page' to track pagination changes in the query string.

I also mention a common issue people have with pagination during a search, you need to reset page back to 1 as your result set has changed.

To expan

[2020-01-22 23:22] harrygulliford commented on #550
@sebastiandedeyne This is something I'd like to see too. Could we check if the current property's value is "default" by comparing it against the same property's value of a new class instance? (Possibly using `ReflectionClass` / `get_object_vars()`).

@ryatkins I ran into the pagination quirk recently too. I like the idea of a seperate `$updatePropertyResetsPagination` property. Adding `resetToPage

[2020-01-23 00:10] lancepioch commented on #354
I did the same thing Caleb in another issue 😅

[2020-01-23 11:17] sebastiandedeyne commented on #550
@ryatkins Good call on the page reset! Also something I need to manually ensure that it will happen.

[2020-01-23 14:22] kot13 opened #557 "Method `back()` doesn't work"
**Describe the bug**
Method `back()` doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Install latest Laravel and latest livewire (0.7.0)
2. Create livewire component `$ php artisan make:livewire test`
3. Update view `resources/views/livewire/test.blade.php`:
[code]
4. Update component class `app/Http/Livewire/Test.php`:
[code]

**Expected behavior**
Redirect to previous page does

[2020-01-23 16:24] calebporzio commented on #550
@sebastiandedeyne - I like me some clean URL too.

Here are the three options as I see them:
A) Just auto-filter out empty strings
B) Auto-filter out default states
C) Add extra API for specifying which values to exclude from the query string

I like the idea of doing something automatically, but I also think it will cause unintended behavior ESPECIALLY because we can't "mount" a component again t

[2020-01-23 17:54] calebporzio commented on #552
Yep, this is coming.

[2020-01-24 09:24] ManojKiranA commented on #552
[code]

So while paginating `domain.com/users?customPageName=12` will be the url right??

[2020-01-24 12:03] pmartelletti commented on #544
@ryatkins @calebporzio I've fixed this by setting display: hidden using inline CSS to that div. I'm happy with this workaround for now. :)

[2020-01-24 14:29] helloiamjohnsmith opened #558 "A big integer with 19 digits rounded to the sixteenth digit during hydration"
**Describe the bug**
If one component has a big integer property with 19 digits, its integrity ruins when another component causing him to rerender. Because significant part of the number is lost.

**To Reproduce**
1. Install latest Laravel and latest livewire
2. Create two livewire components
`$ php artisan make:livewire component-one`
`$ php artisan make:livewire component-two`
3. Update compone

[2020-01-24 16:26] lucasromanojf commented on #544
I have the same issue with x-bind:class. After Livewire reloads, x-bind:class is ignored.

[2020-01-24 17:16] xxdalexx commented on #557
Not a bug, the docs https://laravel-livewire.com/docs/render-method/ state back() will not work in livewire. It uses the previous url stored in the session, so when you hit a livewire route, the previous is now the same page you have been on, so you're basically reloading the page trying to use it..

However, if you grab that session variable in your mount method, with something like `$this->previ

[2020-01-24 20:59] Pen-y-Fan commented on #490
I've created a pull request #559, this is an interim step. I am going around in circles on this one! The tests in the livewire app are passing, so should give some confidence. However, if I copy the **MakesAssertions.php** file to a working Laravel app with livewire v0.7.0, using the example on [Form Validation](https://laravel-livewire.com/docs/input-validation/) see [my implementation example he

[2020-01-24 21:39] kot13 commented on #557
Thanks for the advice!
I wonder why then a `redirect()` works?!

[2020-01-24 21:39] #557 closed

[2020-01-25 07:47] xxdalexx commented on #557
It's not that the action itself doesn't work, It has to do with how laravel keeps track of what the last page was to be able to go back to that page. Simply Livewire screws that tracking up, so laravel doesn't know what that previous page is anymore.

[2020-01-25 10:59] snapey opened #560 "wire:click only sends the last parameter"
When wire:click is actioned, the network request only sends whatever is last in the parameter list.

blade;
[code]

Network request;
[code]
Blade;
[code]
Network;
[code]
The complete parameter list should be sent, but only the last parameter is present in the request params

Version 0.7.0

[2020-01-25 13:04] snapey commented on #549
wire:bind on a checkbox seems to only return 1 or zero, and not an value set by attribute.

Working example https://forum.laravel-livewire.com/t/unable-to-get-checkbox-value/157/7?u=snapey